#amazzing_filter {
    box-shadow: 2px 2px 11px 0px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.5625rem;
    background: #FFF;
    padding: 22px 20px 52px 30px;
}
.af_subtitle {
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
}
.closed .af_subtitle .mobile-icon-filter-toggler{
    transform: rotate(-90deg);
}
.mobile-icon-filter-toggler {
    width: auto;
    stroke: #000000;
    position: static;
    transform: rotate(90deg);
    margin-right: 10px;
    height: 11px;
}
.mobile-icon-filter-toggler path {
    fill: none;
}
.dynamic-product-count {
    display: block;
    margin: 0.5em 0 1.5em 0;
}
.manage-permanent-filters {
    font-size: 12px;
    border: 1px solid;
    text-overflow: ellipsis;
    overflow: hidden;
}
/* horizontal layout */
@media (min-width: 480px) {
    .horizontal-layout .af_filter {
        height: 76px;
    }
    .horizontal-layout .af_filter.special {
        padding-top: 38px;
        line-height: 1;
    }
    .horizontal-layout .af_filter .slider {
        margin-top: 15px;
    }
    .horizontal-layout .slider-values {
        margin-top: -67px;
    }
}

/* my account page */
.page-my-account #content .links a.af i {
    height: 0;
}
/* since 2.8.4 */
