.slider-container .back-bar {
    height: 6px;
    position: relative;
    background: #F1F1F1;
    border-radius: 5px;
}
.slider-container .back-bar .selected-bar {
	position: absolute;
	height: 100%;
	background: #006CB5;
}
.slider-container .back-bar .pointer {
    position: absolute;
    top: -9px;
    margin-left: -1px;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background: #fff;
    cursor: pointer;
    z-index: 2;
    touch-action: none;
    box-shadow: 0px 0px 8px #00000029;
}
.slider-container .back-bar .pointer:before {
	content: ''; /* increase touch area for better response */
	position: absolute;
    width: 40px;
    height: 40px;
    top: -12px;
    right: -12px;
}
.slider-container .back-bar .pointer.last-active {
	z-index: 3;
}
.slider-container .clickable-dummy {
	cursor: pointer;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
}
.slider-container .scale {
	display: none;
}
.slider-container.slider-readonly .clickable-dummy,
.slider-container.slider-readonly .pointer {
	cursor: auto;
}
/* since 2.8.3 */
