#forms {
    max-width: 995px;
    margin: 60px auto 0;
}

#forms form {
    border: 2px solid #F8F8F8;
}

@media (min-width: 992px) {
    #forms form {
        padding: 50px;
    }
}

.text-center {
    text-align: center;
}

#forms .form-control {
    background: #F5F5F5;
    border-color: #F5F5F5;
}

#forms #company_active legend {
    font: normal normal normal 14px/17px var(--base-font-family);
    margin-bottom: 30px;
}

#forms .btn-primary {
    font: normal normal 600 18px/22px var(--base-font-family);
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
}

#forms .forgot-password {
    text-align: center;
    line-height: 150px;
}

#forms .forgot-password a {
    color: #006CB5;
}

/* potwierdzenie zamówienia */
#order-confirmation #content-hook_order_confirmation {
    background: #F4F4F4;
    max-width: 996px;
    margin: 30px auto 0;
    text-align: center;
    padding: 30px;
}

#order-confirmation #content-hook_order_confirmation h2 {
    font: normal normal bold 24px/29px var(--base-font-family);
    margin-bottom: 20px;
}

#order-confirmation #sohoshop_choosedSalon {
    max-width: 996px;
    margin: auto;
    padding: 50px 0;
}

#order-confirmation #sohoshop_choosedSalon > div {
    max-width: 430px;
}
.page-order-confirmation{
    font: normal normal normal 14px/28px var(--base-font-family);
}

#order-items {
    border: none;
}

#order-items .h3{
    background: #F8F8F8;
    padding: 15px;
    text-transform: none;
    font: normal normal normal 14px/28px var(--base-font-family);
}
#order-items .h3:first-of-type{
    font: normal normal bold 18px/28px var(--base-font-family);
}

.order-confirmation-table .price{
    font: normal normal bold 16px/22px var(--base-font-family);
}

#order-confirmation #registration-form{
    display: none;
}


#order-confirmation #content {
    max-width: 996px;
    margin: auto;
    padding: 50px 0;
}

#order-confirmation .order-confirmation-table img{
    width:110px;
    border: 1px solid #F8F8F8;
}
