{**
 * pm_multiplefeatures
 *
 * @author    Presta-Module.com <support@presta-module.com> - http://www.presta-module.com
 * @copyright Presta-Module 2019 - http://www.presta-module.com
 * @license   Commercial
 *
 *           ____     __  __
 *          |  _ \   |  \/  |
 *          | |_) |  | |\/| |
 *          |  __/   | |  | |
 *          |_|      |_|  |_|
 *}

<div id="addons-rating-container" class="panel">
    <p class="invite">
        {l s='You are satisfied with our module and want to encourage us to add new features ?' mod='pm_multiplefeatures'}
        <br />
       <a href="http://addons.prestashop.com/ratings.php" target="_blank"><strong>{l s='Please rate it on Prestashop Addons, and give us 5 stars !' mod='pm_multiplefeatures'}</strong></a>
    </p>
    <p class="dismiss">
        [<a href="#">{l s='No thanks, I don\'t want to help you. Close this dialog.' mod='pm_multiplefeatures'}</a>]
    </p>
</div>