#sohoshopcountbanner{
	background: #93CBEF;
	color: #006CB5;
	opacity: 0;
}
#sohoshopcountbanner.active{
	opacity: 1;
	transition-duration: opacity .3s easy 1s;
}
#sohoshopcountbanner .timer {
    margin: 0;
    text-align: center;
}

#sohoshopcountbanner .product-miniature {
    width: 100%
}
#sohoshopcountbanner .timer .time>div {
    display: flex;
    margin: 0 5px;
    position: relative;
    justify-content: center;
    align-items: center;
}


#sohoshopcountbanner .timer .time>div::after {
    content: ':';
    margin-left: 10px;
    line-height: 30px;
    
}
#sohoshopcountbanner .timer .time>div:last-of-type::after {
    display: none;
}
#sohoshopcountbanner .timer .time>div>span {
    display: block
}
#sohoshopcountbanner .timer .time>div .value {
    font-size: 22px;
    line-height: 30px;
    font-weight: 700
}
#sohoshopcountbanner .timer .time>div .name {
	font-size: 10px;
    line-height: 23px;
    text-transform: uppercase;
}
div#sohoshopcountbanner .time {
    display: flex;
}
#sohoshopcountbanner .timer .time>div > span {
    margin: 0 4px;
}
div#sohoshopcountbanner .content {
	display: flex;
	flex-wrap: wrap;
    justify-content: center;
	align-items: center;
	min-height: 50px;
}
div#sohoshopcountbanner p {
	margin: 0;
	color: #006CB5;
	font-size: 12px;
	font-weight: 500;
}
#couter {
   margin-left: 30px
}
@media(max-width: 767px){
	div#sohoshopcountbanner p {
		margin: 0;
		text-align: center;
	}
	#sohoshopcountbanner .timer .time>div {
		display: flex;
		margin: 0 4px;
		position: relative;
		justify-content: center;
		align-items: center;
	}
	div#sohoshopcountbanner .content {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		min-height: 50px;
		padding: 0 8px;
	}
	#sohoshopcountbanner .timer .time>div::before{
		display: none;
	}
	#couter {
		margin-left: 0px;
	}
}