/* module blockwishlist */

/* lnk on detail product page */
.wishlist_block{
	margin-bottom: 42px;
	text-align: center;
}

#wishlist_button {
    line-height: 20px;
	font-size: 16px;
	color: #333;
}
#wishlist_button i {
    padding: 6px 0;
}
#wishlist_button:hover i{
	font-weight: 600;
}

/* bt add */
.add_wishlist_button a {padding:5px 7px 5px 18px}
.add_wishlist_button a span {
   z-index:10;
   display:block;
   position:absolute;
   top:-1px;
   left:-12px;
   height:26px;
   width:26px;
   background:url(img/icon/pict_add_wishlist.png) no-repeat 0 0 transparent
}

/* bloc */
#wishlist_block #wishlist_block_list {
	margin:5px 0 10px 0;
	padding-bottom:10px;
	border-bottom:1px dotted #ccc
}
#wishlist_block_list dt {
    position:relative;
	margin-top:5px;
	padding-right:20px
}

#wishlist_block_list .quantity-formated {
	display:inline-block;
	margin-right:5px;
	width:15px
}
#wishlist_block_list .cart_block_product_name {font-weight:bold}
#wishlist_block_list .ajax_cart_block_remove_link {
	display:inline-block;
	position:absolute;
    right:0;
    top:0;
	margin:1px 0 0 5px;
	height:12px;
	width:12px
}
#wishlist_block_list dd {margin:0 0 0 24px}


#wishlist_block_list .ajax_cart_block_remove_link a {
	display:inline-block;
	height:12px;
	width:12px;
	background: url(img/icon/delete.gif) no-repeat 0 0
}
#wishlist_block_list .price {
	float:right
}

#wishlist_block select#wishlists {
	margin-bottom:10px;
	width:99%;
	border:1px solid #ccc;
}
#wishlist_block .lnk {padding:0}
#wishlist_block .lnk a {
	display:block;
	font-weight:bold;
	text-align:right
}

/* page in my account ************************************************************************* */
#module-blockwishlist-mywishlist #left_column {display:none}
#module-blockwishlist-mywishlist #center_column{width:757px}

#module-blockwishlist-mywishlist #mywishlist fieldset {

}
#module-blockwishlist-mywishlist #mywishlist   p.text label {
	width: 100%;
	float: none;
	text-align: left;
	color: #756C64;
	font-size: 14px;
	line-height: 16px;
}
#module-blockwishlist-mywishlist #mywishlist  p.submit {
	margin-right:25px;
	padding-bottom:5px;
	text-align:right
}

#mywishlist td.wishlist_delete {
	text-align:center;
}
#mywishlist td.wishlist_delete a {
	display: inline-block;
	font-size: 18px;
	color: rgba(156, 172, 192, 0.24);
}


/* form add ****************************************** */
#form_wishlist {}
#form_wishlist fieldset { padding:  0; }

.wishlist-add-container {
    padding-right: 34px;
    text-align: right;
	padding-top: 19px;
	margin: 0px!important;
}
.wishlist-add-container .float-right{
	float: right;
}
#form_wishlist input.inputTxt {
    padding:0 5px;
    height:26px;
    width:260px;
    font-size:12px;
    color:#666;
    border:1px solid #ccc;
}

/* block-order-detail ********************************** */
#module-blockwishlist-mywishlist #block-order-detail {margin-top:20px}

/* wishlistLinkTop */
#module-blockwishlist-mywishlist #block-order-detail #hideSendWishlist {
	display:inline-block;
	height:12px;
	width:12px;
	background: url(img/icon/delete.gif) no-repeat 0 0
}

#module-blockwishlist-mywishlist .wishlistLinkTop {}
#module-blockwishlist-mywishlist .wishlistLinkTop ul {
	list-style-type:none;
	border-bottom:1px dotted #ccc
}
	#module-blockwishlist-mywishlist .wishlistLinkTop ul.wlp_bought_list {border:none;}
#module-blockwishlist-mywishlist .wishlistLinkTop li {float:left}
#module-blockwishlist-mywishlist .wishlistLinkTop .display_list li a {
   display:inline-block;
   padding:7px 11px 5px 22px;
   color: #333;
   background:url(img/arrow_right_2.png) no-repeat 10px 10px transparent
}

#module-blockwishlist-mywishlist .wishlistLinkTop #hideSendWishlist {
	float:right;
	display:block;
	height:12px;
	width:12px;
	text-indent:-5000px;
	background: url(img/icon/delete.gif) no-repeat 0 0
}
#module-blockwishlist-mywishlist .wishlistLinkTop #showBoughtProducts,
#module-blockwishlist-mywishlist .wishlistLinkTop #hideBoughtProductsInfos {display:none}

/* wishlisturl */
#module-blockwishlist-mywishlist  .wishlisturl {
	margin:20px 0;
	padding:10px;
	background:#eee
}
#module-blockwishlist-mywishlist  .wishlisturl input {
	padding:2px 5px;
	border:1px solid #ccc
}


/* wlp_bought ****************************************** */

/* wlp_bought_list */
ul.wlp_bought_list {
	list-style-type:none;
	margin-bottom:20px
}
ul.wlp_bought_list li {
	position:relative;
	box-shadow: 2px 2px 8px 0 rgba(0,0,0,0);
	border: 1px solid #E8E7E5;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
   border-radius:3px;
}
ul.wlp_bought_list li .product_image {
	float:left;
	width: 100%;
}
ul.wlp_bought_list li .product_image img{
	max-width: 100%;
	height: auto;
}
ul.wlp_bought_list li .product_image a {
	display:block;
	padding:0;
}

ul.wlp_bought_list li .product_infos {
	float:left;
}
ul.wlp_bought_list li .product_infos p{
	color: #756C64;
	font-size: 18px;
	font-weight: 600;
	line-height: 24px;
}
ul.wlp_bought_list li .product_infos .s_title_block.product_name {
   padding:5px 0;
   font-size:12px;
   color:#222
}
ul.wlp_bought_list li .product_infos .wishlist_product_detail input,
ul.wlp_bought_list li .product_infos .wishlist_product_detail select {
	border:1px solid #d1d1d1
}
ul.wlp_bought_list li .product_infos .wishlist_product_detail input{
	height: 40px;
	width: 40px;
	border: 1px solid #E8E7E5;
	border-radius: 2px;
	background-color: #F7F7F7;
	color: #756C64;
	font-size: 18px;
	text-align: center;
}

ul.wlp_bought_list li .btn_action {
	margin: 0 0 8px;
	text-align: right;
}
ul.wlp_bought_list li .btn_action .lnksave {float:right}
ul.wlp_bought_list li .lnkdel {
	position:absolute;
	top:-5px;
	right:-5px;
	display:block;
	height:12px;
	width:12px;
	text-indent:-5000px;
	background: url(img/icon/delete.gif) no-repeat 0 0
}

ul.product_list.grid > li .product-container .functional-buttons .wishlist .popover {
  padding: 0;
  min-width: 160px; }
  ul.product_list.grid > li .product-container .functional-buttons .wishlist .popover .popover-content {
    padding: 0;
    min-width: 158px; }
  ul.product_list.grid > li .product-container .functional-buttons .wishlist .popover table {
    margin-bottom: 2px; }
    ul.product_list.grid > li .product-container .functional-buttons .wishlist .popover table td:hover {
      background-color: #cccccc;
      cursor: pointer; }

.ProductListFunctionalButtons .wishlist{
	display: inline-block;
	margin: 0 8px 0 0;
	vertical-align: top;
}
.ProductListFunctionalButtons .wishlist a{
	color: #9CACC0;
	font-size: 18px;
	line-height: 18px;
	width: 32px;
	height: 32px;
	display: inline-block;
	border-radius: 50%;
	border: 1px solid #9CACC0;
	text-align: center;
}
.ProductListFunctionalButtons .wishlist a i{
	padding: 6px 0;
}
.ProductListFunctionalButtons .wishlist a .fa-heart::before{
	-moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
	font-weight: 400;
}
.ProductListFunctionalButtons .wishlist a:hover .fa-heart::before,
.ProductListFunctionalButtons .wishlist a.active .fa-heart::before,
#wishlist_button.active .fa-heart::before{
	content: '\f004';
	font-weight: 900;
	-moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
table{
	width: 100%;
}
table thead {
    background-color: #F7F7F7;
    border-bottom: 1px solid #E8E7E5;
}
table th,
table td {
    color: #756C64;
    font-size: 14px;
    line-height: 16px;
    vertical-align: middle;
    font-weight: 400;
	padding: .75rem;	
}
table tbody tr:nth-of-type(2n) {
    background: #F7F7F7;
}
.section-links-block #content .account-content .wishlist_default .icon {
    padding: 0;
	font-size: 18px;
}
.section-links-block #content .account-content .wishlist_default p{
	margin: 0;
}

#mywishlist .h3.product-title{
	padding: 8px 0 !important;
	font-size: 16px;
	font-weight: 600;
	line-height: 1;
}
#mywishlist .h3.product-title a{
	font-size: 16px;
	font-weight: 600;
	line-height: 1;
}
#mywishlist .lnkdel{
	color: rgba(156, 172, 192, 0.24);
}
#mywishlist .lnkdel i{
	font-size: 18px;
}
#module-blockwishlist-mywishlist #block-order-detail{
	margin: 0;
	padding:0;
}
.wlp_bought.products article{
	width: 20%;
}

.wlp_bought .product_name{
	font-weight: normal;
	line-height: normal;
	font-size: 14px;
	color: #333;
}
.wlp_bought .price{
	font-weight: 900;
	line-height: 18px;
	font-size: 14px;
	text-align: right;
	color: #333;
}
.wlp_bought .quantity{
	width: 32px;
	height: 32px;
	text-align: center;
	font-weight: 900;
	line-height: 18px;
	font-size: 14px;
	color: #333;
	border: 1px solid #9CACC0;
}
.wlp_bought li{
	padding: 24px 0;
	border-bottom: 1px solid #E2ECF7;
}
.wlp_bought .btn.btn-primary.add-to-cart{
    font-size: 24px;
	color: #62CDF9;
	background: transparent;
	border: none;
	padding: 0;
	height: auto;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0);
}
.center{
	text-align: center;
}
.right{
	text-align: right;
}
.block-order-detail td{
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.products_total_value {
	font-weight: 900;
	line-height: 18px;
	font-size: 14px;
	color: #333;
	margin: 16px 0;
}
.text-lg-left{
	padding: 0 16px;
}
.ProductListFunctionalButtons .wishlist a i,
#product .wishlist_block a i{
	-moz-transition: all 0.8s;
	-webkit-transition: all 0.8s;
	transition: all 0.8s;
}
.ProductListFunctionalButtons .wishlist a:active i,
#product .wishlist_block a:active i{
	-moz-transition: 0s;
	-webkit-transition: 0s;
	transition: 0s;
	font-size: 20px;
}
#mywishlist .wishlist-title{
	white-space: nowrap;
}
#mywishlist .less {
    display: none;
}
@media(min-width: 992px){
	#mywishlist .table-customer-account td{
		float:unset;
	}
}
@media (max-width: 991px){
	#mywishlist .table-customer-account tbody tr{
		display: block;
		width: 100%;
		
	}
	#mywishlist #block-history .block-order-detail{
		background: #fff;
		margin-top: -50px;
		position: relative;
	}
	#mywishlist .table-customer-account td{
		display: block;
	}
	#mywishlist #block-history table thead{
		display: none!important;
	}
	#mywishlist .table-customer-account td.more-btn{
		width: 100%;
	}
	#mywishlist .table-customer-account td.more-btn a{
		width: 100%;
	}
	#mywishlist #block-history .block-order-detail > td{
		width: 100%;
		display: block;
	}
	#mywishlist #block-history .text-lg-left{	
		padding: 0px;
	}
	#mywishlist #block-history .text-lg-left .btn{
		width: 100%;
		height: auto;
		white-space: normal;
		margin-top: 15px;
	}
	#mywishlist .lnkdel,
	.wlp_bought .btn.btn-primary.add-to-cart{
		line-height: 24px;
		font-size: 24px;
		display: inline-block;
		margin-top: 16px;
	}
	#mywishlist #block-history table tbody{
		width: 100%;
	}
	#mywishlist .wlp_bought .price{
		line-height: 34px;
		margin: 0px;
	}
	.products_total_value.row{
		margin: 0px
	}
	.wlp_bought li {
		margin: 0 -16px;
	}
}
@media (max-width: 767px){
	#mywishlist #block-history .table-customer-account td {
		padding: 16px 0;
	}
	.wishlist-add-container{
		padding:8px 16px;
	}
	.wishlist-add-container .float-right{
		float: unset;
	}
	.wishlist-add-top{
		margin-top: -56px;
	}
	#form_wishlist fieldset {
		padding-top: 24px;
	}
	#form_wishlist{
		padding: 0;
	}
	#form_wishlist input#submitWishlist{
		width: 100%;
	}
}