#wokolicyModal,
#chooseShopHeaderPopup {
    visibility: hidden;
    display: block;
}
#reservedModal {
    margin: 0 15px;
}

#chooseShopHeaderPopup .modal-dialog {
    width: 392px
}
@media (max-width: 767px){
    #wokolicyModal {
        margin: 0 15px;
    }
}
@media (max-width: 420px){
    #chooseShopHeaderPopup .modal-dialog {
        width: calc(100% - 30px)
    }
}

#wokolicyModal.fade.in,
#chooseShopHeaderPopup.fade.in {
    visibility: visible;
    display: block;
}
.close_cross {
    stroke: #000;
}
#wokolicyModal #wokolicyModalLabel {
    font: normal normal bold 24px/24px var(--base-font-family);
    text-align: center;
    margin-top: 40px;
}
@media (max-width: 767px) {
    #wokolicyModal #wokolicyModalLabel {
        font: normal normal bold 18px/26px Gotham;
        letter-spacing: 0px;
        margin-bottom: 25px;
    }
    #wokolicyModal .leaflet-container {
        display: none;
    }
}

#chooseShopHeaderPopup #chooseShopHeaderPopupLabel {
    font: normal normal bold 18px/26px var(--base-font-family);
    text-align: center;
    margin-top: 40px;
}

#chooseShopHeaderPopup .close,
#reservedModal .close,
#wokolicyModal .close {
    position: absolute;
    top: 20px;
    opacity: 1;
    right: 20px;
    opacity: 1;
}

#chooseShopHeaderPopup .close:focus,
#reservedModal .close:focus,
#wokolicyModal .close:focus {
    outline: 0;
}

#chooseShopHeaderPopup .close i,
#reservedModal .close i,
#wokolicyModal .close i {
    color: #000;
    font-size: 35px;
    line-height: 1;
}

#chooseShopHeaderPopup .modal-header,
#wokolicyModal .modal-header {
    border: 0;
    padding: 0 31px;
    text-align: center;
}
@media (max-width: 767px) {
    #chooseShopHeaderPopup .modal-header,#wokolicyModal .modal-header {
        padding: 0 15px;
    }
}
#chooseShopHeaderPopup .modal-body,
#wokolicyModal .modal-body {
    padding: 30px;
}
#wokolicyModal .label {
    text-align: left;
    font: normal normal normal 17px/16px var(--base-font-family);
    margin-bottom: 20px;
    color: #000;
}
@media (max-width: 767px) {
    #chooseShopHeaderPopup .modal-body,#wokolicyModal .modal-body  {
        padding: 15px 15px 40px;-*
    }
    #wokolicyModal .label {
        font: normal normal normal 16px/22px Gotham;
        text-align: center;
    }
}


#chooseShopHeaderPopup .label {
    text-align: center;
    font: normal normal normal 16px/16px var(--base-font-family);
    margin-bottom: 20px;
    color: #000;
}

@media (max-width: 420px){
    #chooseShopHeaderPopup .modal-body{
        padding: 15px;
    }

    #chooseShopHeaderPopup .label {
        margin-bottom: 10px;
    }
}
#sohoshop_wokolicy-nearestShop .btn {
    font: normal normal 500 18px/18px var(--base-font-family);
    padding: 14px 1rem;
    text-transform: uppercase;
    border-color: #000;
    background-color: #000;
    color: #FFF;
    width: 100%;
    max-width: 400px;
}
@media (max-width: 767px) {
    #sohoshop_wokolicy-nearestShop .btn {
        max-width: 355px;

    }
    #sohoshop_wokolicy-nearestShop {
        text-align: center;
    }
}
@media (max-width: 420px) {
    #sohoshop_wokolicy-nearestShop .btn {
        font-size: 14px;
    }
}
#chooseShopHeaderPopupNearestShop .btn {
    font: normal normal 400 18px/18px var(--base-font-family);
    padding: 1rem;
    text-transform: uppercase;
    border-color: #000;
    background-color: #000;
    color: #FFF;
    width: 100%;
    display: block;
}

#chooseShopHeaderPopupNearestShop .btn:hover,
#sohoshop_wokolicy-nearestShop .btn:hover {
    background-color: #FFF;
    color: #000;
}

#wokolicyModal-map {
    height: 400px;
    max-width: 400px;
    margin-top: 40px;
}

#chooseShopHeaderPopupNearestShop address,
#sohoshop_wokolicy-nearestShop address {
    color: #000;
    margin-left: 50px;
    line-height: 1.5;
    font: normal normal normal 14px/20px var(--base-font-family);
}

#chooseShopHeaderPopupNearestShop address a,
#sohoshop_wokolicy-nearestShop address a {
    color: #006CB5;
}

#sohoshop_wokolicy-nearestShop h1 {
    font: normal normal bold 16px/16px var(--base-font-family);
    color: #000000;
    text-transform: uppercase;
    margin: 0 0 20px 0;
}

#chooseShopHeaderPopupNearestShop{
    position: relative;
}

#chooseShopHeaderPopupNearestShop .pin,
#sohoshop_wokolicy-nearestShop .pin {
    position: absolute;
}

@media (max-width: 767px) {
    #sohoshop_wokolicy-nearestShop h1 {
        text-align: left;
        margin: 0 auto 20px;
        max-width: 355px;
    }
    .shop_adress_modal_wrapper {
        position: relative;
        margin: auto;
        max-width: 355px;
    }
    #chooseShopHeaderPopupNearestShop .pin, #sohoshop_wokolicy-nearestShop .pin {
        left: 0;
    }
    .shop_adress_modal_wrapper address {
        width: fit-content;
        margin-left: 30px;
        text-align: left;
    }
}
#chooseShopHeaderPopupNearestShop h1 {
    color: #000000;
    text-transform: uppercase;
    margin: 0 0 20px 0;
    font: normal normal bold 16px/22px var(--base-font-family);
}

#sohoshop_wokolicy-findShop {
    border-top: 1px solid #EDEDED;
    margin-top: 30px;
    padding-top: 20px;
}
@media (max-width: 767px){
    #chooseShopHeaderPopupNearestShop .pin{
        left: 40px;
    }
    #sohoshop_wokolicy-findShop {
        border: unset;
        padding-top: 30px;
    }
}

#chooseShopHeaderPopupFindShopForm {
    margin-top: 30px;
    padding-top: 20px;
}

#chooseShopHeaderPopupFindShopForm label,
#sohoshop_wokolicy-findShop label {
    margin-bottom: 0;
}

#sohoshop_wokolicy-findShop .form-control {
    background: #F5F5F5;
    border-color: #F5F5F5;
    margin-top: 0;
    font: normal normal normal 16px/22px var(--base-font-family);
}
@media (max-width: 767px){
    #sohoshop_wokolicy-findShop .form-control {
        max-width: 260px;
        margin: 0 auto 20px;
    }
}

#sohoshop_wokolicy-findShop .form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #6A6A6A;
    opacity: 1; /* Firefox */
    font: normal normal normal 16px/22px var(--base-font-family);
}

#chooseShopHeaderPopupFindShopForm .form-control {
    background: #F5F5F5;
    border-color: #F5F5F5;
    margin: auto;
    margin-top: 0;
    width: 260px;
    display: block;
    padding: 12px;
}

#sohoshop_wokolicy-findShop .btn {
    font: normal normal bold 16px/14px var(--base-font-family);
    padding: 1rem;
    text-transform: uppercase;
    max-width: 400px;
    width: 100%;
}

#chooseShopHeaderPopupFindShopForm .btn {
    font: normal normal 500 16px/22px var(--base-font-family);
    padding: 12px 1rem;
    text-transform: uppercase;
    margin: auto;
    margin-top: 20px;
    max-width: 400px;
    width: 100%;
    display: block
}
@media (max-width: 767px){
    #sohoshop_wokolicy-findShop .btn,#sohoshop_wokolicy-findShop .btn {
        max-width: 260px;
        display: block;
        margin: auto;
    }
}
#sohoshop_wokolicy-findShop .btn svg,
#chooseShopHeaderPopupFindShopForm .btn svg {
    fill: none;
    stroke: #000;
    stroke-miterlimit: 10;
    stroke-width: 1.5px;
    position: relative;
    transform: rotate( -90deg );
    margin-left: 3px;
    bottom: 0;
}

@media (max-width: 767px) {
    #chooseShopHeaderPopupFindShopForm .btn svg{
        bottom: -5px;
    }
}

#wokolicyModal .alert-danger {
    margin: 10px;
}

#reservedModal .modal-title {
    text-align: center;
    font: normal normal bold 24px/24px var(--base-font-family);
    margin-top: 40px;
}

#reservedModal .modal-header {
    border: 0;
    padding: 0;
}

#reservedModal .modal-body {
    padding: 46px 85px 74px 85px;
}

#reservedModal .modal-header .material-icons.rtl-no-flip {
    line-height: 30px;
    font-size: 45px;
    color: #80D878;
    margin-right: 6px;
}
@media (max-width: 767px) {
    #reservedModal .modal-header .material-icons.rtl-no-flip {
        display: block;
        margin: auto;
    }
    #reservedModal .modal-title {
        font: normal normal bold 18px/26px Gotham;
    }
    #reservedModal .modal-body {
        padding: 15px 15px 40px;
        max-width: 355px;
        margin: auto;
    }
    #reservedModal .modal-body .back {
        margin-top: 15px;
    }
}
#reservedModal .product {
    max-width: 740px;
    width: 100%;
    margin: auto;
    height: 150px;
    border: 1px solid #707070;
    font: normal normal normal 13px/20px var(--base-font-family);
    color: #000;
}

#reservedModal .product img {
    float: left;
    margin: 20px;
    border: 1px solid #F0F0F0;
    width: 110px;
}

#reservedModal .product-name {
    margin-top: 24px;
    font: normal normal bold 16px/16px var(--base-font-family);
}

#reservedModal .product-subtitle {
    position: relative;
    height: auto;
    font: inherit;
    padding-top: 32px;
}

#reservedModal .salon {
    padding-top: 30px;
    color: #000000;
}
#reservedModal .salon .label {
    text-align: left;
    font: normal normal normal 16px/22px var(--base-font-family);
    color: #000000;
}
@media (max-width: 767px) {
    #reservedModal .salon .label {
        text-align: center;
    }
    #reservedModal .cart-detailed-actions button {
        font-size: 16px;
    }
}
#reservedModal .salon h1 {
    padding-top: 30px;
    font: normal normal 600 16px/22px var(--base-font-family);
    text-transform: uppercase
}

#reservedModal .salon img {
    float: left;
    padding-top: 6px;
}

#reservedModal .salon address {
    padding-left: 30px;
    margin: 0;
    font: normal normal normal 14px/20px var(--base-font-family);
}

#reservedModal .cart-detailed-actions {
    padding-top: 32px;
}
@media (max-width: 767px) {
    #reservedModal .cart-detailed-actions {
        display: flex;
        flex-direction: column;
    }
}
#reservedModal .cart-detailed-actions .next {
    float: none;
    padding: 1rem;
    width: 355px;
    font-weight: 400;
    font-size: 16px;
}

#reservedModal .cart-detailed-actions .back {
    float: right;
    padding: 1rem;
    width: 355px;
    font-weight: 400;
    font-size: 16px;
}