#porady-header {
    background-image: url(/themes/sohoshop_blu/assets/img/puravida.png);
    background-size: cover;
    background-position: 40px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    padding: 56px 15px;
    text-align: center;
    margin-bottom: 40px;
}

#porady-header h1 {
    font: normal normal bold 38px/38px var(--base-font-family);
}

#porady-header p {
    font: normal normal normal 16px/28px var(--base-font-family);
    margin: 0;
}
#porady-find .sliderPoradyFind .swiper-slide label {
    position: absolute;
    width: 100%;
    text-align: center;
    font: normal normal 300 21px/29px var(--base-font-family);
    color: #FFFFFF;
    top: 50%;
    transform: translateY(-50%);
}
#porady-find .swiper-slide a img {
    width: 100%;
    object-fit: cover;
}

#porady-find .sliderPoradyFind .swiper-slide label a {
    color: #FFFFFF;
}

#porady-posts ul {
    display: flex;
    display: -webkit-flex;
    width: 100%;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

#porady-posts li {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
}

.ybc_item_img {
    float: left;
    overflow: hidden;
    position: relative;
    background-color: #eee;
    width: 100%;
}

.ybc_item_img img {
    transition: all 0.7s ease 0s;
    -webkit-transition: all 0.7s ease 0s;
    max-width: 100%;
    width: 100%;
}

.ybc_title_block {
    font: normal normal 300 20px/36px var(--base-font-family);
    color: var(--btn-primary-font-color);
    text-transform: none;
    padding: 0;
    margin: 15px 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    float: left;
    width: 100%;
}

#porady-posts a.btn {
    padding: 18px 60px;
    margin: 30px 0 0;
    text-transform: uppercase;
    font: normal normal 500 16px/19px var(--base-font-family);
    max-width: 270px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#porady-posts .ybc_shortdesc_block {
    min-height: 86px;
    max-height: 86px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}
#porady-posts .ybc-blog-latest-post-content {
    display: flex;
    flex-direction: column;
}
@media (max-width: 992px) {
    #porady-posts .ybc_shortdesc_block {
        min-height: 60px;
        max-height: 60px;
        -webkit-line-clamp: 3;
    }
}
#porady-posts .first-post a.btn {
    margin: 20px auto 0;
}
h1 {
    font: normal normal bold 38px/54px var(--base-font-family);
    margin-bottom: 50px;
}

#porady-find label {
    text-align: left;
    display: block;
    font: normal normal normal 18px/26px var(--base-font-family);
}

#porady-tags {
    margin-top: 45px;
}
#module-sohoshop_porady-porady #store-page-describe h3 {
    font-weight: 400;
    text-transform: uppercase;
}
#module-sohoshop_porady-porady #store-page-describe p {
    color: #6A6A6A;
}
#module-sohoshop_porady-porady #store-page-describe span {
    color: #000;
}
#module-sohoshop_porady-porady .ybc_block_search {
    margin-bottom: 40px;
}
#module-sohoshop_porady-porady .ybc_block_search form {
    position: relative;
    max-width: 390px;
    margin: auto;
}
#module-sohoshop_porady-porady .ybc_block_search form button {
    cursor: pointer;
}
#module-sohoshop_porady-porady .ybc_block_search input {
    background:#F5F5F5;
    border: unset;
    padding: 15px 26px;
}
#module-sohoshop_porady-porady .ybc_block_search input::placeholder {
    color: #6A6A6A;
}
#module-sohoshop_porady-porady .ybc_block_search form button{
    position: absolute;
    top: 50%;
    right: 23px;
    background: transparent;
    border: unset;
    transform: translate(0px, -50%);
}
#porady-tags button {
    background: #F2F8FD;
    border-radius: 13px;
    border: none;
    font: normal normal normal 12px/16px var(--base-font-family);
    margin-left: 12px;
    padding: 6px 10px;
    cursor: pointer;
    margin-bottom: 10px;
}

#porady-tags label {
    text-align: left;
    float: left;
    display: block;
    font: normal normal normal 18px/26px var(--base-font-family);
}

#porady-posts a {
    text-align: left;
    font: normal normal normal 14px/22px var(--base-font-family);
    display: inline-block;
}

#porady-posts .first-post article {
    max-width: 857px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

#porady-posts .ybc_title_block {
    font: normal normal 300 30px/36px var(--base-font-family);
}

#porady-posts .first-post .ybc_title_block {
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#porady-posts .beetwen-post article{
    display: flex;
}
#porady-posts .beetwen-post .ybc_item_img{
    max-width: 857px;
    float:none;

}
#porady-posts .beetwen-post .ybc-blog-latest-post-content {
    padding: 40px 27px;
    flex-shrink: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#porady-posts .beetwen-post .ybc-blog-latest-post-content a.btn {
    margin-left: 0;
}
.blog_arrow {
    fill: none;
    stroke: #000;
    stroke-miterlimit: 10;
    stroke-width: 1.5px;
    position: relative;
    transform: rotate(-90deg);
    margin-left: 5px;
    flex-shrink: 0;
}
#porady-posts a.btn:hover .blog_arrow {
    stroke: #fff;
}
#porady-find .swiper-container {
    padding-bottom: 2rem;
}
#porady-find .swiper-container-horizontal>.swiper-scrollbar {
    width: 100%;
    left: 0;
}
#porady-find .swiper-scrollbar {
    display: none;
}
#porady-find .beetwen-post .ybc_item_img img {
    height: 100%;
    object-fit: cover;
}
@media (max-width: 992px) {
    #porady-posts .beetwen-post article {
        flex-direction: column;
    }
    #porady-posts .beetwen-post .ybc-blog-latest-post-content {
        padding: 0;
    }
    #porady-posts .beetwen-post .ybc_item_img {
        max-width: unset;
    }
    #porady-find .swiper-button-next, #porady-find .swiper-button-prev {
        display: none;
    }
    #porady-find .swiper-scrollbar {
        display: block;
    }
    #porady-find .swiper-slide a img {
        height: auto;
        width: 100%;
        border-radius: 50%;
        overflow: hidden;
        display: block;
    }
    #porady-find .sliderPoradyFind .swiper-slide label {
        position: static;
        transform: unset;
        font: normal normal normal 14px/16px Gotham;
        color: #000;
        margin: 20px 0 0 0;
    }
}