
#appointment{
    line-height: normal;
}
#appointment .flexbox{
    display: flex;
    justify-content: center;
}

#appointment .flexbox-total{
    display: flex;
    justify-content: flex-end;
    align-items:center;
    height: 400px;
}

#appointment .flexbox-flex-end{
    display: flex;
    justify-content: flex-end;
    margin-top: 90px;
    margin-right: 50px;
}

#appointment .banner{
    width: 100%;
    height: 350px;
    background: url('../img/umow-sie-banner.png');
    background-size: cover;
}

#appointment .banner .banner-title{
    text-align: center;
    font-family: 'Gotham';
    font-weight: bold;
    font-size: 34px;
    letter-spacing: 1px;
    color: #006CB5;
    opacity: 1;
    margin-top: 100px;
    margin-bottom: 10px;
}

#appointment .banner .banner-desc{
    text-align: left;
    font-family: "Gotham, Book";
    font-size: 16px;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin-bottom: 20px;
}

#appointment .banner-form .banner-salon-search{
    width: 350px;
    height: 50px;
    padding-left: 20px;
    text-align: center;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #CBCBCB;
    border-radius: 30px;
    opacity: 1;
    text-align: left;
}

#appointment .banner-form .banner-salon-search::placeholder{
    text-align: left;
    font-family: "Gotham, Book";
    font-size: 16px;
    letter-spacing: 0px;
    color: #6A6A6A;
    opacity: 1;
}

#appointment .banner-form .btn-primary{
    background-color: #000000;
    color: #fff;
    height: 48px;
    width: 348px;
    border: 2px solid black;
    margin-bottom: 5px;
}

#appointment .banner-form .btn-primary:hover{
    background-color: transparent;
    color: #000;
}

#appointment .flexbox-total .map-title{
    margin-right: 70px;
    text-align: center;
    font-family: 'Gotham';
    font-weight: bold;
    font-size: 24px;
    color: #000;
    opacity: 1;

}

#appointment form.bottom-contact-us-form{
    background: #F5F5F5 0% 0% no-repeat padding-box;
    opacity: 1;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 200px;
    padding-right: 200px;
    margin-top: 100px;

}

#appointment form.bottom-contact-us-form .title{
    text-align: center;
    font-family: 'Gotham';
    font-weight: bold;
    font-size: 24px;
    color: #000000;
    opacity: 1;
}

#appointment form.bottom-contact-us-form .row{
    margin: 40px 0px 40px 0px;
}

#appointment form.bottom-contact-us-form .bottom-input{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #CBCBCB;
    border-radius: 30px;
    opacity: 1;
    text-align: left;
    letter-spacing: NaNpx;
    color: #000000;
    opacity: 1;
    width: 90%;
    height: 40px;
    text-align: left;
    letter-spacing: NaNpx;
    color: #000000;
    opacity: 1;
    padding-left: 15px;
}

#appointment form.bottom-contact-us-form .bottom-textarea{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #CBCBCB;
    border-radius: 30px;
    opacity: 1;
    width: 95%;
    height: 250px;
    padding-left: 10px;
    padding-top: 10px;
}

#appointment form.bottom-contact-us-form span{
    text-align: left;
    font-family: 'Gotham';
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0px;

}

#appointment form.bottom-contact-us-form button.contact-us-button-bottom{
    border: 2px solid #006CB5;
    border-radius: 40px;
    opacity: 1;
    height: 50px;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
    margin-top: 30px;  
    text-align: center;
    font-family: 'Gotham';
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.16px;
    color: #000000;
    text-transform: uppercase;
    opacity: 1;
}

#appointment form.bottom-contact-us-form button.contact-us-button-bottom:hover{
    background: #000000 0% 0% no-repeat padding-box;
    border: 2px solid #000000;
    border-radius: 40px;
    text-align: center;
    font-family: 'Gotham';
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.16px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    transition: .3s;
}

#appointment .store-map .map-container{
    height: 400px;
    width: 500px;
    position: relative;
}

#appointment #umowsiemap{
    height: 100%;
    width: 100%;
    
}

#appointment .leaflet-div-icon{
    background-color: transparent ;
    border: hidden ;
}
.appointment-store-icon{
    background: url('../img/map-icon.svg');
    height: 30px;
    width: 20px;
    border: none;
}


#appointment .store-map #overlay-shop-info{
    display: none;
    height: 100%;
    width: 100%;
    background-color: white;
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #E2E2E2; 
}

#appointment #overlay-shop-info .row{
    width: 70%;
    padding: 0;
    margin: 0;
    margin-left: 120px;
}


#appointment #overlay-shop-info .overlay-shop-name{
    text-align: center;
    font-family:'Gotham';
    font-size: 18px;
    font-weight: bold;
    color: #000;
    opacity: 1;
    margin-top: 40px;
}

#appointment #overlay-shop-info .svg-icon{
    width: 20px;
    height: 25px;
}

#appointment #overlay-shop-info .phone-container,
#appointment #overlay-shop-info .contact-container,
#appointment #overlay-shop-info .address-container{
    margin-top: 20px;
}

#appointment #overlay-shop-info .address-container .data-container, 
#appointment #overlay-shop-info .phone-container .phone-number{
    text-align: left;
    font-family:'Gotham';
    font-weight: 400;
    font-size: 14px;
    color: #000;
    opacity: 1;
}

#appointment #overlay-shop-info .contact-container .email-address{
    text-align: left;
    font-family:'Gotham';
    font-weight: 400;
    font-size: 14px;
    color: #006CB5;

}

#appointment #x-icon-exit{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 20px;
    margin-top: 20px;
    font-size: 26px;
    z-index: 9999;
}

.form form.bottom-contact-us-form .bottom-textarea, .form form.bottom-contact-us-form input::placeholder{
    text-align: left;
    color: #000000;
    opacity: 1;
    font-family: 'Gotham';
    font-weight: 400;
    font-size: 14px;
}

#appointment form.bottom-contact-us-form select#salon-list-form{
    font-family: 'Gotham';
    font-weight: 400;
    font-size: 14px;
}