#ybc_blog_page .flexbox{
    display: flex;
    justify-content: center;
}

#ybc_blog_page section#wrapper .container{
    width:100%;
}

#ybc_blog_page #ybc-single-max-width{
    width:80%;
    margin-left: auto;
    margin-right: auto;
}
@media (max-width: 991px) {
    #ybc_blog_page #ybc-single-max-width{
        width: 100%;
    }
}
#ybc_blog_page span.title_cat{
    text-align: left;
    font-family: 'Gotham';
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.ybc-blog-wrapper-content .post-details{
    text-align: left;
    font-family: 'Gotham';
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin-top: 30px;
}



.ybc-blog-wrapper-content .description p{
    text-align: left;
    font-family: 'Gotham';
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

#ybc_blog_page .extra_tag_cat_single{
    margin-top: 50px;
    margin-bottom: 50px;
}

#ybc_blog_page .extra_tag_cat_single .ybc-blog-tags_single a{
    text-align: left;
    font-family: 'Gotham';
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    background: #F2F8FD 0% 0% no-repeat padding-box;
    border-radius: 13px;
    opacity: 1;
    padding: 10px;
}

#ybc_blog_page #ybc-blog-related-products{
    border:hidden;
}

#ybc_blog_page #ybc-blog-related-products .title_blog_single{
    text-align: center;
    font-family: 'Gotham';
    font-weight: 300;
    font-size: 34px;
    letter-spacing: 0.34px;
    color: #000000;
    opacity: 1;
    margin-bottom: 30px;
}

#ybc_blog_page .inspire-title{
    text-align: center;
    font-family: 'Gotham';
    font-weight: bold;
    font-size: 38px;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    
}

#ybc_blog_page .inspire-post .inspired-item{
    height: 100%;
    position: relative;
    margin-top: 50px;
}

#ybc_blog_page .inspire-post .inspired-item .img-container{
    height: 300px;
    width: 100%;
}

#ybc_blog_page .inspire-post .inspired-item .img-container .image{
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-color: lightgrey;
}

#ybc_blog_page .inspire-post .inspired-item .title{
    text-align: left;
    font-family: 'Gotham';
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin-top: 20px;
    margin-bottom: 20px;
}

#ybc_blog_page .inspire-post a{
    margin-bottom: 50px;
}

#ybc_blog_page a.btn-related-absolute{
    width: fit-content;
    width: -moz-max-content;
    display: block;
    margin-top: 20px;
}

#ybc_blog_page .ybc-blog-related-posts .related-title
{
    text-align: center;
    font-family: 'Gotham';
    font-weight: bold;
    font-size: 38px;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    text-transform: none;
}

#ybc_blog_page .ybc-blog-related-posts .related-post-wrapper{
    width: 100%;
}

#ybc_blog_page .ybc-blog-related-posts .related-post-item{
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
}
@media (max-width: 991px) {
    #ybc_blog_page .ybc-blog-related-posts .related-post-item {
        width: 100%;
    }
}
#ybc_blog_page .ybc-blog-related-posts .related-post-image{
    height: 330px;
    margin-bottom: 20px;
}

#ybc_blog_page .ybc-blog-related-posts .related-post-image img{
    height: 100%;
}

#ybc_blog_page .ybc-blog-related-posts  .related-post-title{
    text-align: left;
    font-family: 'Gotham';
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin-top: 20px !important;
    margin-bottom: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    float: left;
    width: 100%;
}

#ybc_blog_page .product-list-from-img .product-container img{
    background-color: lightgrey;
}

#ybc_blog_page .product-list-from-img  .owl-item{
    width: 330px !important;
}

#ybc_blog_page .product-list-from-img .product-container{
    position: relative;
}

#ybc_blog_page .product-list-from-img .flexbox-between{
    display: flex;
    justify-content: space-between;
}
.blog-product-list .right-block .moneySave {
    position: static;
    text-align: left;
}
#ybc_blog_page .product-list-from-img .promo-best .promo-percent{
    text-align: left;
    font-family: 'Gotham';
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 7px;
    padding-right: 7px;
    background: #FF0000 0% 0% no-repeat padding-box;
}

#ybc_blog_page .product-list-from-img .promo-best{
    margin: 10px 0px 10px 0px;
}

#ybc_blog_page .product-list-from-img .promo-best .bestseller{
    text-align: left;
    font-family: 'Gotham';
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    background: #006CB5 0% 0% no-repeat padding-box;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
}

#ybc_blog_page .product-list-from-img .brand-name{
    text-align: right;
    font-family: 'Gotham';
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin: 10px 10px 10px 0px;
}

#ybc_blog_page .product-list-from-img .item-title{
    text-align: left;
    font-family: 'Gotham';
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin-top: 10px;
}

#ybc_blog_page .product-list-from-img .product-short-desc{
    text-align: left;
    font-family: 'Gotham';
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin-top: 20px;
}

#ybc_blog_page .product-list-from-img .product-real-quanity{
    text-align: left;
    font-family: 'Gotham';
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

#ybc_blog_page .product-list-from-img  .product-price-blog{
    text-align: left;
    font-family: 'Gotham';
    font-weight: bold;
    font-size: 22px;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    
}

#ybc_blog_page .product-list-from-img  .old-price-blog{
    text-align: left;
    text-decoration: line-through;
    font-family: 'Gotham';
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

#ybc_blog_page .product-list-from-img .absolute-price{
    margin-bottom: 30px;
    text-align: left;
}

#ybc_blog_page .ybc-blog-related-posts{
    border: hidden;
}

#ybc_blog_page .single-blog-related{
    padding: 20px;
}

#ybc_blog_page .seo-opt .seo-title{
    font-family: 'Gotham';
    font-weight: 400;
    font-size: 16px;
    text-align: left;
    margin-bottom: 30px;
}

#ybc_blog_page .seo-opt .seo-small-title{
    font-family: 'Gotham';
    font-weight: 400;
    font-size: 12px;
    text-align: left;
}

#ybc_blog_page .seo-opt .seo-content{
    font-family: 'Gotham';
    font-weight: 400;
    font-size: 12px;
    text-align: left;
    margin-bottom: 30px;
    color: #6A6A6A;
}

#ybc_blog_page .btn-primary {
    font-family: 'Gotham';
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}
.ybc-blog #content-wrapper ul.ybc-blog-related-posts-list {
    justify-content: flex-start;
}
#ybc_blog_page .btn-primary .blog_arrow {
    width: 12px;
}
#ybc_blog_page .btn-primary:hover .blog_arrow {
    stroke:#fff;
}
#ybc_blog_page .d-none{
    display: none;
}

#ybc_blog_page .porady-layout-top .row{
    margin-top: 30px;
    margin-bottom: 30px;
}

#ybc_blog_page .porady-layout-top .date{
    font-family: 'Gotham';
    font-weight: 400;
    font-size: 12px;
    color: #868686;
}

#ybc_blog_page .porady-layout-top .date img{
    width: 15px;
    height: 15px;
    margin-right: 5px;
    margin-top: -5px;
}

#ybc_blog_page .porady-layout-top .row .col-md-4 .post-details{
    font-family: 'Gotham';
    font-weight: 400;
    font-size: 16px;
}

#ybc_blog_page .porady-layout-top .row .col-md-4 .post-details{
    margin-top: 0;
}

#ybc_blog_page .porady-layout-top .description{
    width: 100%;
}
#ybc_blog_page .seo-opt {
    margin-top: 0px;
}
@media (max-width: 767px) {
    #ybc_blog_page .seo-opt {
        margin-top: 40px;
    }
}