#manufacturer img.img-manufacturer{
    object-position: 0% 15%;
    height: 400px;
}

#manufacturer div#search_banner{
    position: relative;
    display: block;
    align-items: center;
    height: 400px;
}

#manufacturer div#search{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    margin-top: 100px;
    border-radius: 30px;
    opacity: 1;
    text-align: center;
}

#manufacturer button.search{
    text-align: left;
} 

#manufacturer div.strefa_marek{
    text-align: center;
    font: normal normal bold 38px/46px var(--base-font-family);
    letter-spacing: 0px;
    color: #006CB5;
    opacity: 1;
}

#manufacturer div.description{
    text-align: center;
    font: normal normal normal 16px/28px var(--base-font-family);
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

#manufacturer img.img-width{
    width: 100%;
    object-fit: cover;
}

#manufacturer div.alfabetyczne{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    

}

#manufacturer span.alfabetyczne{
    font: normal normal normal 16px/19px var(--base-font-family);
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin-right: 10px;
}

#manufacturer span.alfabet{
    text-align: left;
    font: normal normal bold 16px/30px var(--base-font-family);
    letter-spacing: 13px;
    color: #000000;
    opacity: 1;
}

#manufacturer #main ul .brand{
    background: rgba(0, 0, 0, 0);
}

#manufacturer .search-brand{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 30px;
    opacity: 1;
    width: 100%;
    height: 50px;
}

#manufacturer .search-brand span{
    
    text-align: left;
    font: normal normal normal 16px/19px var(--base-font-family);
    letter-spacing: 0px;
    color: #6A6A6A;
    opacity: 1;
}

#manufacturer .form-search-brand{
    width: 500px;
    margin-top: 60px;
}


#manufacturer .brand-listing-padding{
    margin-left: 40px;
}

#manufacturer .brand-listing-padding-ul{
    margin-left: 60px;
}
