.btn {
    display: inline-block;
    font-weight: 600;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    padding: .5rem 2rem;
    text-transform: none;
    box-shadow: none;
}

.btn-primary, .btn-primary.focus, .btn-primary:focus,
.btn-primary.active, .btn-primary:active, .open > .btn-primary.dropdown-toggle,
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover,
.btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover,
.open > .btn-primary.dropdown-toggle.focus, .open > .btn-primary.dropdown-toggle:focus,
.open > .btn-primary.dropdown-toggle:hover, .btn-primary.disabled.focus, .btn-primary.disabled:focus,
.btn-primary.disabled:hover, .btn-primary:disabled.focus, .btn-primary:disabled:focus,
.btn-primary:disabled:hover {
    color: var(--btn-primary-font-color);
    background-color: var(--btn-primary-background-color);
    border: 2px solid var(--btn-border-color);
    border-radius: 40px;
    letter-spacing: 0.16px;
    outline: none;
    font-style: normal;
    box-shadow: none;
}

.btn-max-width{
    width:100%;
    transition: .3s;
}

.btn-max-width:hover{
    
    transition: .3s;
}
.btn-primary:hover{
    color:#ffffff;
    background-color: #000000;
    border-color: #000000;
}
