.cart-container header {
    display: flex;
}

.cart-container header .h1 {
    flex-grow: 1;
    font: normal normal bold 28px/34px var(--base-font-family);
    text-transform: none;
}

.cart-container header li {
    display: inline-block;
    padding-left: 100px;
}

.cart-container header .reservationStep {
    width: 50px;
    height: 50px;
    display: inline-block;
    border: 2px solid #F8F8F8;
    line-height: 50px;
    text-align: center;
    margin-right: 10px;
    border-radius: 50px;
}

.cart-container header .reservationStep.current {
    background: #000;
    border-color: #000;
    color: #fff;
}

#cart-header {
    background: #F8F8F8;
    padding: 6px 0;
    font: normal normal normal 14px/44px var(--base-font-family);
    text-align: center;
    margin-bottom: 30px;
}

#cart-header .cart-header-produkty {
    font: normal normal bold 18px/44px var(--base-font-family);
    text-align: left;
    padding-left: 30px;
}

.cart-grid-body .cart-overview {
    padding: 1rem 0;
}

.cart-items {
    text-align: center;

}

.cart-item {
    border-bottom: 1px solid #F8F8F8;
    padding: 30px 0;
}

.product-line-grid-right {
    padding-top: 44px;
}

.product-line-grid-right .qty {
    margin: -12px auto 0 auto;
}

.product-line-grid-right .qty input {
    text-align: center;
}

.product-line-grid-body {
    height: 126px;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.product-line-grid-right .product-price,
.product-line-info.product-price {
    font: normal normal bold 16px/19px var(--base-font-family);
    color: #000;
    margin: 0;
}

.cart-items .has-discount .discount {
    background: #FF0000;
    font-weight: 600;
    font: normal normal normal 13px/25px var(--base-font-family) !important;
    padding: 0 8px;
    margin: 0;
}

.cart-items .product-discount .regular-price {
    color: #000;
    font-weight: normal;
    margin: 0;
}

.product-line-grid-left {
    display: grid;
    grid-template-columns: 30% 50% 20%;
    grid-template-rows: 75% auto;
    text-align: left;
    padding-left: 0;
}

.product-line-grid-left .product-image {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: end-line;
}

.product-line-grid-left .product-line-info {
    grid-column-start: 2;
    grid-column-end: end-line;
    grid-row-start: 1;
    grid-row-end: 1;
}

.product-line-grid-left .remove-from-cart {
    grid-column-start: 3;
    grid-column-end: end-line;
    grid-row-start: 2;
    grid-row-end: end-line;
    font: normal normal normal 14px/20px var(--base-font-family);
    color: #006CB5;
}

.product-line-grid-left .product-line-info a {
    font: normal normal bold 16px/22px var(--base-font-family);
    color: #000;
}

.product-line-grid-left .product-line-info a:hover {
    color: #000;
}

.product-line-grid-left .product-line-info .product-subtitle * {
    font: normal normal normal 13px/20px var(--base-font-family);
    margin: 0;
}

.cart-detailed-totals-header {
    background: #F8F8F8;
    padding: 6px 20px;
    font: normal normal bold 18px/44px var(--base-font-family);
    margin: 0;
}
.card-block.cart-summary-totals .cart-summary-line.cart-total,
.cart-detailed-totals .cart-summary-line.cart-total {
    background-color: #fff;
    padding: 30px 60px;
    text-align: right;
}


.card-block.cart-summary-totals .cart-summary-line.cart-total .label,
.cart-detailed-totals .cart-summary-line.cart-total .label {
    font: normal normal normal 14px/55px var(--base-font-family);
    padding-right: 20px;
}

.card-block.cart-summary-totals .cart-summary-line.cart-total .value,
.cart-detailed-totals .cart-summary-line.cart-total .value
{
    font: normal normal bold 30px/55px var(--base-font-family);
}

.cart-detailed-actions .back {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    padding: 1rem 6rem;
    color: #000;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 40px;
    letter-spacing: 0.16px;
    outline: none;
    box-shadow: none;
    text-transform: none;
    font: normal normal 600 18px/22px var(--base-font-family) !important;
}

.cart-detailed-actions .back:hover {
    color: #fff;
    background-color: #000;
    border: 2px solid #000;
}

.cart-detailed-actions .next {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    padding: 1rem 6rem;
    color: #fff;
    background-color: #000;
    border: 2px solid #000;
    border-radius: 40px;
    letter-spacing: 0.16px;
    outline: none;
    box-shadow: none;
    float: right;
    text-transform: uppercase;
    font: normal normal 600 18px/22px var(--base-font-family);
}

.cart-detailed-actions .next:hover {
    color: #000;
    background-color: #fff;
    border: 2px solid #000;
}

.free-pick-up {
    text-align: right;
    font: normal normal normal 13px/20px var(--base-font-family);
    color: #7B7B7B;
    margin: 40px 100px 0;
}

.free-pick-up img {
    margin-right: 10px;
}

#cart .footer-container > .container,
#cart .footerBefore {
    display: none;
}

.cart-line-product-actions {
    font: normal normal normal 14px/20px var(--base-font-family);
    color: #006CB5;
    cursor: pointer;
}

.cart-line-product-actions img,
.product-line-grid-left .remove-from-cart i {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    color: #000;
    font-size: 22px;
}

#cart #sohoshop_choosedSalon,
#order-confirmation #sohoshop_choosedSalon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    flex-wrap: wrap;
}

#cart #sohoshop_choosedSalon address,
#order-confirmation #sohoshop_choosedSalon address{
    margin-left: 40px;
}

#cart #sohoshop_choosedSalon img,
#order-confirmation #sohoshop_choosedSalon img{
    position: absolute;
}

@media (max-width: 767px) {
    .product-line-grid-left {
        position: relative;
    }

    .product-line-grid-left .product-line-info {
        grid-column-end: 3;
    }

    .product-line-grid-left .product-image {
        padding-right: 15px;
    }

    .cart-line-product-actions {
        grid-column-start: 2;
        grid-column-end: end-line;
        font: normal normal normal 12px/1.2 var(--base-font-family);
        margin-top: 10px;
    }

    .product-line-grid-left .remove-from-cart {
        position: absolute;
        grid-row-start: 1;
        font-size: 0;
        right: 0;
    }

    .cart-line-product-actions img, .product-line-grid-left .remove-from-cart i {
        width: 15px;
        height: 15px;
    }

    .product-line-grid-left {
        grid-template-columns: 40% 40% 20%;
    }

    .product-line-grid-left .product-line-info .product-subtitle * {
        margin-top: 10px;
        font: normal normal normal 12px/1.2 var(--base-font-family);
    }

    #cart-header {
        margin-bottom: 0;
    }

    .cart-item {
        padding: 15px 0;
    }

    .product-line-grid-body {
        height: auto;
        margin-top: 10px;
        text-align: left;
        display: block;
    }

    .product-line-grid-right .price {
        width: 50%;
        text-align: right;
        padding: 0;
    }

    .product-line-grid-right .qty {
        width: auto;
        margin-top: 20px;
    }

    .product-line-grid-right {
        padding-top: 10px;
    }

    .price-label {
        font: normal normal normal 13px/1 var(--base-font-family);
        display: block;
        padding: 10px 0px;
    }

    .card-block.cart-summary-totals .cart-summary-line.cart-total {
        padding: 10px 0;
    }

    .card-block.cart-summary-totals .cart-summary-line.cart-total .label {
        display: none;
    }

    .card-block.cart-summary-totals,
    .card-block.checkout.cart-detailed-actions {
        padding: 0;
        margin: 0;
    }

    .cart-detailed-actions .next,
    .cart-detailed-actions .back {
        margin: 5px 0;
        padding: 1rem;
        width: 100%;
    }

    .free-pick-up {
        margin: 40px 0 0;
        text-align: center;
    }

    .cart-grid-body .cart-overview,
    .cart-items {
        padding-bottom: 0;
    }
    .cart-grid-body{
        margin-bottom: 0;
    }

}