#categories-all .title{
    text-align: left;
    font: normal normal bold 38px/46px var(--base-font-family);
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

#categories-all .main-category-title{
    text-align: left;
    font: normal normal normal 26px/36px Gotham;
    letter-spacing: 0.34px;
    color: #000000;
    opacity: 1;
    margin-top: 50px;
    margin-bottom: 30px;
}

#categories-all .child-title{
    text-align: left;
    font: normal normal normal 26px/31px var(--base-font-family);
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin: 10px 0px 10px 0px;
}

#categories-all .child-text{
    text-align: left;
    font: normal normal normal 12px/20px var(--base-font-family);
    letter-spacing: 0px;
    opacity: 1;
    margin: 10px 0px 10px 0px;
    color: #6A6A6A;
}

#categories-all .child-child-title{
    text-align: left;
    font: normal normal normal 16px/33px var(--base-font-family);
    letter-spacing: 0px;
    color: #000000;
    transition: .3s
}

#categories-all .child-child-title:hover{
    color: #006CB5;
    transition: .3s;
}

#categories-all .image{
    background-color: grey;
    height: 300px;
    width: 100%;
}

#categories-all .row .col-md-3{
    margin-bottom: 50px;
}

#categories-all .category-image{
    width: 100%;
    height: 100%;
}

#categories-all .seo .seo-title{
    text-align: left;
    font: normal normal normal 16px/19px var(--base-font-family);
    letter-spacing: 0px;
    color: #000000;
    text-transform: uppercase;
    opacity: 1;
}

#categories-all .seo .text{
    text-align: left;
    font: normal normal normal 12px/20px var(--base-font-family);
    letter-spacing: 0px;
    color: #6A6A6A;
    opacity: 1;
    margin-top: 20px;
}