.block-category {
    padding: 0;
    min-height: initial;
    border: 0;
}

.block-category .block-category-inner .category-cover img {
    width: 100%;
    height: initial;
}

#manufacturer .h1, #category .h1 {
    font: normal normal bold 38px/46px var(--base-font-family);
    text-transform: none;
    margin-bottom: 40px;
    float: left;
}

#manufacturer .total-products {
    display: none;
}

#category .total-products {
    display: inline-block;
    font: normal normal 300 20px/50px var(--base-font-family);
    margin-left: 20px;
}

@media (max-width: 767px) {
    #category .products .product-miniature .product-description {
        position: static;
    }

    #category #products .products {
        width: 100%;
        margin: auto;
    }

    #category #products .regular-price {
        margin-left: 0;
    }
}

#manufacturer .sort-by-row,
#category .sort-by-row {
    float: right;
    display: flex;
    align-items: center;
}

#category #left-column {
    width: 100%
}
.products-sort-order .arrow-right-icon-category, #search_filter_toggler_blu .arrow-right-icon-category{
    transform: rotate(0deg);
}
#search_filter_toggler_blu {
    margin: 2rem 0 1rem;
    width: 100%;
    max-width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
}
#search_filter_toggler_blu:hover {
    background-color: transparent;
    border-color: #2592a9;
    color: #000;
}
@media (min-width: 992px) {
    #category .sort-by-row {
        position: relative;
    }

    #category #left-column {
        padding-right: 260px;
    }
}

#category #left-column #search_filter_controls {
    text-align: center;
    margin-bottom: 1rem;
    position: fixed;
    bottom: 0;
    width: 90vw;
    background: #fff;
    padding: 1rem 10px;
    box-shadow: 0 0px 10px -3px rgb(0 0 0 / 20%);
}

#category #left-column #search_filter_controls button {
    margin: 0 .5rem;
    color: #fff;
    background: #000;
}
#search_filters_af {
    display: flex;
    flex-wrap: wrap;
}
#category #left-column #search_filters_af .facet-title {
    width: initial;
    text-overflow: initial;
    margin: 6px;
    padding: 10px 20px;
    display: inline-block;
    font: normal normal 600 14px/17px var(--base-font-family);
    color: #fff;
    border: 1px solid #0000;
    border-radius: 20px;
    background: #000;
    color: #000;
    border: 1px solid #006CB5;
    background: #fff;
    cursor: pointer;
}
#category #left-column #search_filters_af .facet-title:hover {
    color: #fff;
    border: 1px solid #000;
    background: #000;
}

#category #content-wrapper, #category #search_filter_toggler {
    width: 100%
}

.search_filters_label {
    font: normal normal normal 14px/17px var(--base-font-family);
    width: calc(100% - 3rem);
    color: #000;
    padding: 1.5rem 0rem 6rem 6px;
    margin: auto;
}

.close-facet-btn {
    color: #707070;
    font-size: 30px;
    margin-right: 10px;
}

.active_filters {
    background: transparent;
    padding: .625rem 1.875rem 0 70px;
    margin-bottom: 30px;
}

.active_filters .filter-block {
    box-shadow: none;
    font: normal normal normal 12px/14px var(--base-font-family);
    background: #F2F8FD;
    margin-right: 10px;
    border-radius: 20px;
    padding: 6px 20px;
}

.active_filters .filter-block .close {
    margin: 0 6px;
}

#category .related_ybc_blog_post {
    position: relative;
    margin-bottom: 1.563rem;
}

#category .related_ybc_blog_post img {
    height: auto;
    max-width: 630px;
    width: 100%;
}

#category .related_ybc_blog_post a.text-link {
    position: absolute;
    bottom: 3rem;
    right: 2rem;
    background: rgba(255, 255, 255, 0.7);
    font: normal normal 600 14px/17px var(--base-font-family);
    padding: 10px 20px;
    border-radius: 20px;
}

@media (max-width: 767px) {
    #category .related_ybc_blog_post a.text-link {
        bottom: 2rem;
        right: 1rem;
    }

    .search_filters_label {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.ui-widget-content {
    border: 0;
    background: #F1F1F1;
}

#category .pagination {
    text-align: center;
}

#category .pagination .total-products {
    font: normal normal normal 14px/28px var(--base-font-family);
    width: 100%;
    color: black;
    margin: 0 0 15px;
}

#category .product-back-breadcrumb {
    margin: 1rem 0 2rem;
}

@media (max-width: 767px) {
    #category .pagination .total-products {
        margin: 0;
    }

    .category-cover {
        display: block;
    }

    #category .pagination {
        margin-bottom: 0;
    }

    .footerBefore {
        background: unset;
    }
}

#category .pagination .btn {
    font-size: 16px;
    padding: 16px 70px;
    text-transform: uppercase;
}


#category-description p,
#category-description ul,
.category-description p,
.category-description ul {
    color: #6A6A6A;
    font: normal normal normal 12px/20px var(--base-font-family);
}

#category-description ul, .category-description ul {
    padding: 0 40px;
}

#products .product-description, .featured-products .product-description, .product-accessories .product-description, .product-miniature .product-description {
    background-color: unset;
}

.arrow-right-icon-category {
    fill: none;
    stroke: #000;
    stroke-miterlimit: 10;
    stroke-width: 1.5px;
    position: relative;
    transform: rotate(-90deg);
    margin-left: 3px;
}

.related_ybc_blog_post .text-link:hover, .related_ybc_blog_post .text-link:hover .arrow-right-icon-category {
    color: #006CB5;
    stroke: #006CB5;
}

#category-description, .category-description  {
    margin-top: 2rem;
}

#category-description h1,#category-description h2,#category-description h3,#category-description h4,#category-description h5, #category-description h6, .category-description h1,.category-description h2,.category-description h3,.category-description h4,.category-description h5, .category-description h6
{
    font: normal normal normal 16px/22px Gotham;
    color: #000;
}
#category-description strong, .category-description strong {
    font-weight: 400;
    color: #000;
}
.hidden-md-up.filter-button {
    margin-bottom: 20px;
}

.mobile-clear-widget-filter {
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(35px, 85%);
    font: normal normal normal 12px/16px Gotham;
    letter-spacing: 0px;
    color: #000000;
    text-decoration: underline;
}
#amazzing_filter {
    position: fixed;
    height: 100vh;
    opacity: 1;
    transform: translateX(-100%);
    top: 0;
    left: 0;
    width: 85vw;
    z-index: 9999;
    max-width: 420px;
    margin: 0;
    transition-duration: 350ms;
    background: #fff;
    overflow: hidden;
    overflow-y: scroll;
}
.amazzing_filtershow {
    transform: translateX(0%) !important;
}
.amazzing_filtershow+.af-compact-overlay {
    display: block;
    background-color: rgba(0,0,0,0.2);
    position: fixed;
    top: 0;
    display: block;
    width: 100vw;
    height: 100vh;
    z-index: 10;
}

#amazzing_filter .checkbox-outer {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #707070;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 10px;
}
#amazzing_filter input[checked] {
    background-color: #fff;
}
#amazzing_filter .af_filter_content .active .checkbox-outer {
    border: 2px solid #000000;
}
#amazzing_filter .checkbox-outer .checkbox-checked {
    background: #F0F0ED 0% 0% no-repeat padding-box;
    border: 1px solid #DEDEDE;
    width: 26px;
    height: 26px;
    display: block;
    border-radius: 50%;
    color: transparent;
}

@media (max-width: 767px) {
    #category .sort-by-row {
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        float: left;
        margin-bottom: 20px;
        display: block;
    }

    #category .sort-by-row .filter-button {
        padding: 0;
    }

    #category .sort-by-row .filter-button button {
        width: 100%;
        max-width: 400px;
        margin-top: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: .5rem 1rem;
    }

    #category .sort-by-row .filter-button button:hover {
        background-color: unset;
        border: 2px solid var(--btn-border-color);
        color: #000;
    }

    #category .sort-by-row .arrow-right-icon-category {
        transform: rotate(0deg);
    }

    #category .sort-by-row .products-sort-order.dropdown {
        width: 100%;
    }

    #category .sort-by-row .products-sort-order.dropdown .select-title {
        margin-left: 0;
        width: 100%;
        max-width: 400px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background:transparent;
        padding: .5rem 2rem;
        border: 2px solid var(--btn-border-color);
        letter-spacing: 0.16px;
        outline: none;
        font-style: normal;
        box-shadow: none;
        line-height: 1.25;
        font-size: 1rem;
    }

    #category .h1 {
        margin-bottom: 0;
    }

    #_mobile_search_filters_clear_all i {
        display: none;
    }

    #search_filter_controls .btn-primary {
        border-color: #000;
        padding-left: 15px;
        padding-right: 15px;
    }

    #products .thumbnail-container .product-description, .featured-products .thumbnail-container .product-description, .product-accessories .thumbnail-container .product-description {
        box-shadow: none;
        width: 100%;
    }

    #category .sort-by-row .sort-by {
        display: none;
    }
}

@media (max-width: 420px) {
    #category #left-column #search_filter_controls {
        display: flex;
        flex-direction: column;
    }

    #category #left-column #search_filter_controls .btn {
        margin: 0;
    }

    #category #left-column #search_filter_controls .btn.js-search-filters-clear-all {
        margin-bottom: 10px;
    }
}

#category .hc_block {
    float: left;
    width: 310px;
    position: relative;
    background: #F5F5F5;
    margin-bottom: 20px;
}

#category .hc_block:not(:last-of-type) {
    margin-right: 20px;
}

#category .hc_block img {
    max-width: 100%;
}

#category .hc_block_title {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

#category .hc_block_title a {
    color: #fff;
    font: normal normal normal 26px/36px var(--base-font-family);
}

#category .look-filters {
    position: relative;
    padding-top: 20px;
    padding-bottom: 40px;
}

#category .look-filters article{
    position: relative;
    z-index: 1;
}

#category .look-filters header{
    text-align: center;
    font: normal normal normal 18px/18px var(--base-font-family);
    padding: 40px;
}

#category .look-filters .swiper-slide{
    width: 310px;
    height: 295px;
    overflow: hidden;
}

#category .look-filters .swiper-slide img{
    /*max-width: 100%;*/
}

#category .look-filters:before{
    content: "";
    width: calc(100vw - 18px);
    height: 100%;
    background: #F5F5F5;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
#category .new-products{
    margin-bottom: 80px;
}

#category .new-products .products-section-title{
    text-align: center;
    font: normal normal 300 34px/34px var(--base-font-family);
    margin: 60px 0 40px 0;
}
