#kontakt a, #contact a{
    text-decoration: none;
    color: #000
}

#kontakt{
    width: 100%;
    height: 560px;
    background: url('../img/kontakt_grafika.jpg');
    position: relative;
    z-index: 1;
    background-size: cover;
    background-position: center;
    
}

#kontakt .flexbox, #contact .flexbox{
    display: flex;
    justify-content: center;
}

#contact .mt-5{
    margin-top: 20px;
}

#contact .mt-15{
    margin-top: 60px;
}



#kontakt span.contact-us-title{
    text-align: center;
    font-family: 'Gotham';
    font-weight: bold;
    font-size: 38px;
    letter-spacing: 0px;
    margin-top: 15px;
    color: #006CB5;
    opacity: 1;
}

#kontakt .contact-banner-table{
    margin-top: 100px;
}

#kontakt .left-contact-banner{
    text-align: center;
    font-family: 'Gotham';
    font-weight: bold;
    font-size: 23px;
    line-height: 1;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

#kontakt a.contact-us-button{
    border: 2px solid #006CB5;
    border-radius: 40px;
    opacity: 1;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
    
}

#kontakt a.contact-us-button span{
    text-align: center;
    font: normal normal 600 16px var(--base-font-family);
    letter-spacing: 0px;
    color: #000000;
    text-transform: uppercase;
    opacity: 1;
    transition: .3s;
    
}



#kontakt .contact-hours{
    text-align: center;
    font-family: 'Gotham';
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

#kontakt .mt-2-right{
    margin-top: 10px;
}

#kontakt .right-contact-banner{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #F5F5F5;
    border-radius: 40px;
    opacity: 1;
    width: 300px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
    transition: .3s;
    font-family: 'Gotham';
    font-weight: 500;
    font-size: 16px;
}

#kontakt .parent-inline{
    display:flex;
    align-items: flex-end;
    margin-left: 57px;
}

#kontakt .parent-right-side{
    right: 0;
    margin-top: 20px;
    margin-right: 57px;
    position: relative;  
}

#kontakt .contact-right-side {
   
    position: fixed;
    margin-top: -35px;
    width: 360px;
    
}

#kontakt .right-side-bottom{
    position: absolute;
    bottom: 380px;
}


#kontakt .card, .card-block{
    border: 0;
    padding: 0;
}

#contact .title-salon span{
    text-align: center;
    font-family: 'Gotham';
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 0.24px;
    color: #000000;
    opacity: 1;
    margin-top: 60px;
}

#contact input.search-salon{
    background: #F5F5F5 0% 0% no-repeat padding-box;
    border-radius: 30px;
    opacity: 1;
    text-align: left;
    font: normal normal normal 14px/17px var(--base-font-family);
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;
    width: 100%;
    height: 40px;
    border: 0;
}

#contact .form-search-salon{
    margin-top: 50px;
    width: 60%;
}

#contact .overflow{
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 50px;
    height: 750px;
}

 .salon-thumb{
    height: 250px;
    padding: 30px 0px 0px 20px;
    text-align: left;
    font-family: 'Gotham';
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

#contact .overflow .enter-arrow{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16px;
    width: 12px;
    padding: 20px;
    border-radius: 36px;
    background-color: transparent;
    border: 1px solid #AFAFAF;
}

#contact .overflow .enter-arrow img{
    height: 16px;
    width: 12px;
    
}

#contact .overflow .next-thumb{
    border-top: 1px solid grey;
}

#contact .overflow .salon-thumb a{
    color:#006CB5;
}

#contact .salon-thumb span.title{
    text-align: left;
    font-family: 'Gotham';
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0px;
    color: #000000;
    text-transform: uppercase;
    opacity: 1;
}

#contact a.find-us-button span{
    text-align: center;
    font: normal normal medium 16px/19px var(--base-font-family) Narrow;
    letter-spacing: 0.16px;
    color: #000000;
    text-transform: uppercase;
    opacity: 1;
    transition: .3s;
    
}

#contact .title-find-us{
    text-align: center;
    font: normal normal bold 24px/55px var(--base-font-family);
    letter-spacing: 0.24px;
    color: #000000;
    opacity: 1;
}

#contact .find-us{
    margin-top: 100px;
}

#contact .find-us .title{
    text-align: left;
    font: normal normal normal 18px/24px var(--base-font-family);
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

#contact .map-title{
    font-family: 'Gotham';
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    color: #000;
    margin-top: 30px;
    margin-bottom: 20px;
}

#contact button.find-us-button{
    border: 2px solid #006CB5;
    border-radius: 40px;
    opacity: 1;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
    margin-top: 30px;  
    text-align: center;
    font: normal normal medium 16px/19px var(--base-font-family) Narrow;
    letter-spacing: 0.16px;
    color: #000000;
    text-transform: uppercase;
    opacity: 1;
}

#contact .find-us-map{
    height: 400px;
    width: 100%;
    background-color: grey;
}

#contact form.bottom-contact-us-form{
    background: #F5F5F5 0% 0% no-repeat padding-box;
    opacity: 1;
    padding: 50px;
    margin-top: 100px;

}

#contact form.bottom-contact-us-form .title{
    text-align: center;
    font-family: 'Gotham';
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 0.24px;
    line-height: 1;
    color: #000000;
    opacity: 1;
}

#contact form.bottom-contact-us-form .row{
    margin: 40px 0px 40px 0px;
}

#contact form.bottom-contact-us-form .bottom-input{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #CBCBCB;
    border-radius: 30px;
    opacity: 1;
    text-align: left;
    letter-spacing: NaNpx;
    color: #000000;
    opacity: 1;
    width: 90%;
    height: 40px;
    text-align: left;
    letter-spacing: NaNpx;
    color: #000000;
    opacity: 1;
    padding-left: 15px;
}

#contact form.bottom-contact-us-form .bottom-textarea{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #CBCBCB;
    border-radius: 30px;
    opacity: 1;
    width: 95%;
    height: 250px;
    padding-left: 10px;
    padding-top: 10px;
}

#contact form.bottom-contact-us-form span{
    text-align: left;
    font-family: 'Gotham';
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0px;
    color: #000;

}

#contact form.bottom-contact-us-form button.contact-us-button-bottom{
    border: 2px solid #006CB5;
    border-radius: 40px;
    opacity: 1;
    height: 50px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
    margin-top: 30px;  
    text-align: center;
    font-family: 'Gotham';
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.16px;
    color: #000000;
    text-transform: uppercase;
    opacity: 1;
}

#contact .enter-arrow span{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 50%;
    border: 1px solid #CBCBCB;
    width: 40px;
    height: 36px;
    padding: 8px;
    text-align: center;
    font-weight: bold;
}

#contact form.bottom-contact-us-form select#salon-list-form{
    font-family: 'Gotham';
    font-weight: 400;
    font-size: 14px;
}

#contact .bottom-contact-us-form span a{
    text-decoration: underline;
}

#contact input::placeholder, #contact form.bottom-contact-us-form .bottom-textarea{
    text-align: left;
    color: #000000;
    opacity: 1;
    font-family: 'Gotham';
    font-weight: 400;
    font-size: 14px;
}

#contact sup{
    font-size: 18px;
    padding-top: 10px;
}

#contact .overflow::-webkit-scrollbar{
    width: 9px;
}

#contact .overflow::-webkit-scrollbar-thumb{
    background: #D8D8D8 0% 0% no-repeat padding-box;
    border-radius: 8px;
    opacity: 1;
}

#contact .overflow::-webkit-scrollbar-track{
    background: #EFEFEF 0% 0% no-repeat padding-box;
    border-radius: 8px;
    opacity: 1;
}

#contact section#storeLocator .mw-100{
    width: 100%;
}

#contact section#storeLocator .map_header{
    padding-right: 100px;

}

#contact section#storeLocator .store_desc{
    font-family: 'Gotham';
    font-weight: 400;
    font-size: 18px;
    text-align: left;
    margin-top: 100px;
}

#contact section#storeLocator form.store-map-search input.store-map-input::placeholder{
    font-family: 'Gotham';
    font-weight: 400;
    font-size: 14px;
    text-align: left;
    padding-left: 10px;
}

#contact section#storeLocator form.store-map-search .btn-max-width:hover{
    background-color: #000000;
    color: #fff;
    transition: .3s;
    width: 180px;
}


#contact section#storeLocator form.store-map-search .btn-max-width{
    height: 50px;
    font-family: 'Gotham';
    font-size: 16px;
    font-weight: 500;
    transition: .3s;
    width: 100%;
}

#contact section#storeLocator form.store-map-search .btn-max-width .hovered, #contact section#storeLocator form.store-map-search .btn-max-width:hover .non-hovered{
    display: none;
}

#contact section#storeLocator form.store-map-search .btn-max-width:hover .hovered, #contact section#storeLocator form.store-map-search .btn-max-width .non-hovered{
    display: block;
}







/* hovers */

#kontakt .hover-contact-us-button:hover .contact-us-button{
    background: #000000 0% 0% no-repeat padding-box;
    border-radius: 40px;
    opacity: 1;
    transition: .3s;
}

#kontakt .hover-contact-us-button:hover span{

    /* letter-spacing: 0.16px; */
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    transition: .3s;
}

#kontakt .contact-right-side a:hover div.right-contact-banner{
    background: #000000 0% 0% no-repeat padding-box;
    border-color: #000;
    border-radius: 40px;
    text-align: center;
    letter-spacing: 0.16px;
    color: #FFFFFF;
    opacity: 1;
    transition: .3s;
}

#contact button.find-us-button:hover{
    background: #000000 0% 0% no-repeat padding-box;
    border: 2px solid #000000;
    border-radius: 40px;
    opacity: 1;
    transition: .3s;
    text-align: center;
    font: normal normal medium 16px/19px var(--base-font-family) Narrow;
    letter-spacing: 0.16px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}

#contact form.bottom-contact-us-form button.contact-us-button-bottom:hover{
    background: #000000 0% 0% no-repeat padding-box;
    border: 2px solid #000000;
    border-radius: 40px;
    text-align: center;
    font: normal normal medium 16px/19px var(--base-font-family) Narrow;
    letter-spacing: 0.16px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    transition: .3s;
}

#contact .footer-items span{
    text-align: center;
    font-family: 'Gotham';
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

#contact .footer-grid{
    text-align: left;
    font-family: 'Gotham';
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

#contact .footer-grid a, #contact .footer-grid a:hover{
    color: #000;
    text-decoration: underline;
}

#contact .top-salon-search{
    width: 75%;
    height: 50px;
    margin-top: 30px;
    position: relative;
}

#contact .top-salon-search button{
    border:none;
    background-color: transparent;
}

#contact button#searchSalon i.search{
    position: absolute;
    right: 20px;
    bottom: 11px;
    z-index: 1;
    color: #006CB5;
    font-size: 24px;
}

#contact .top-salon-search .search-top-map{
    width: 100%;
    height: 50px;
    background: #F5F5F5 0% 0% no-repeat padding-box;
    border-radius: 30px;
    border: hidden;
    padding-left: 30px;
}

#contact .top-salon-search .search-top-map::placeholder{
    font-family: 'Gotham';
    font-weight: 400;
    font-size: 14px;
    
}



@media only screen and (min-width: 769px){
    #contact .mobile{
        display: none;
    }

    #contact .mobile-contact-us-return{
        display: none;
    }

    #contact .mobile-overflow{
        display: none;
    }
}


/* mobile */

@media only screen and (max-width: 768px) {

    #contact .container{
        width: 100%;
        margin: 0;
        padding: 0;
    }

    #contact #kontakt{
        background: url('../img/contact-baner.png') no-repeat center center; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 650px;
    }

    #contact .flexbox .contact-us-title{
        display: none;
    }

    #contact .mobile{
        justify-content: left;
        text-align: left;
        font: normal normal bold 24px/34px var(--base-font-family);
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
    }

    #contact .mobile-contact-us-return{
        margin-left: 10px;
        text-align: left;
        font: normal normal normal 12px/16px var(--base-font-family);
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
    }

    #contact .contact-right-side{
        display: none;
    }

    #kontakt .contact-banner-table{
        margin-top: 330px;
    }

    #kontakt .left-contact-banner{
        text-align: center;
        font: normal normal bold 23px/30px var(--base-font-family);
        letter-spacing: 0px;
        color: #006CB5;
        opacity: 1;
    }

    #kontakt .contact-us-button {
        text-align: center;
        font: normal normal medium 16px/22px var(--base-font-family) Narrow;
        letter-spacing: 0.16px;
        color: #000000;
        text-transform: uppercase;
        opacity: 1;
    }

    #kontakt .mt-5{
        margin-top: 20px;
    }

    #kontakt .hover-contact-us-button{
        padding-left: 20px;
        padding-right: 20px;
    }

    #contact .title-salon span{
        line-height: 30px;
        width: 100%;
        text-align: center;
        font: normal normal bold 24px/34px var(--base-font-family);
        letter-spacing: 0.24px;
        color: #000000;
        opacity: 1;
    }

    #contact .title-salon{
        margin-top: 50px;
    }

    #contact .overflow{
        display: none;
    }

    #contact .salon-map{
        margin-top: 50px;
    }

    #contact .salon-map .najblizszy-salon{
        text-align: left;
        font: normal normal normal 16px/22px var(--base-font-family);
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
    }

    #contact .mobile-overflow .mobile-title{
        text-align: left;
        font: normal normal bold 16px/22px var(--base-font-family);
        letter-spacing: 0px;
        color: #000000;
        text-transform: uppercase;
        opacity: 1;
        margin-top: 30px;
    }

    #contact .mobile-overflow .mobile-address{
        text-align: left;
        font: normal normal normal 14px/20px var(--base-font-family);
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
    }

    #contact .mobile-overflow .mobile{
        width: 100%;
    }

    #contact .mobile-overflow .mobile-tel{
        text-align: left;
        font: normal normal normal 14px/20px var(--base-font-family);
        letter-spacing: 0px;
        color: #000000;
        margin-top: 20px;
    }

    #contact .mobile-overflow .mobile-tel a{
        text-align: left;
        font: normal normal normal 14px/20px var(--base-font-family);
        letter-spacing: 0px;
        color: #006CB5;
    }

    #contact .mobile-overflow .mobile-working-hours{
        text-align: left;
        font: normal normal normal 14px/20px var(--base-font-family);
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
        margin-top: 20px;
    }

    #contact .mobile-overflow .mobile-show-more-button{
        border: 2px solid #000000;
        margin-top: 20px;
        border-radius: 40px;
        opacity: 1;
        width: 35%;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        transition: .3s;
    }

  

    #contact .mobile-overflow .mobile-address .mobile-pin-icon{
        margin-top: 7px;
        
        
    }

    #contact .mobile-overflow .mobile-show-more-button:hover{
        background: #000000 0% 0% no-repeat padding-box;
        border-radius: 40px;
        opacity: 1;
        transition: .3s;
        color: #fff;
    }

    #contact .margin-mobile{
        margin-top: 50px;
    }

    #contact form.bottom-contact-us-form button.contact-us-button-bottom{
        width: 100%;
    }

    #contact .footer-grid .mt-15{
        width: 50%;
        margin-top: 50px;
    }

    #contact .flexbox-mobile{
        display: flex;
    justify-content: center;
    }

}



