/* podstawowe kolory i czcionki */
@import "font.css";

/* style przycisków */
@import "btn.css";

/* style dla formularzy (inputy checkoboxy itp.)*/
@import "forms.css";

/* stopka */
@import "footer.css";

/* nagłówek */
@import "header.css";

/* dekstop menu */
@import "menu.css";

/* wyszukiwarka menu */
@import "searchbar.css";

/*style dla głównej*/
@import "index.css";

/*style dla kafelka produktu*/
@import "productItem.css";

/*style dla strony kategorii*/
@import "category.css";

/* style dla strony kontaktu */
@import "contactus.css";

/* style dla strony marek */
@import "brands.css";

/* style dla uslug */
@import "services.css";

/*style dla strony koszyka*/
@import "cartpage.css";

/* style dla strony kategorie-zbiorcze */
@import "categoriesall.css";

/* style dla markerów(mapowania) na zdjęciach */
@import "markers.css";
/* style dla strony wymiarowanie */
@import "dimensions.css";

/* style dla strony bloga - single post */
@import "blog-single.css";

/* style dla strony produktu */
@import "product.css";

/* style dla strony bloga - single post */
@import "blog-single.css";

/* style dla strony 'projektuj z nami' */
@import "projectwithus.css";

/* style dla strony umow sie z projektantem */
@import "appointment.css";


.container {
    width: 100%;
    max-width: 1366px;
}

p {
    color: #000;
    font: normal normal normal 16px/28px var(--base-font-family);
}

#wrapper .breadcrumb {
    padding-top: 10px;
    border-top: 1px solid #F5F5F5;
    margin-top: 16px;
    border-radius: 0;
}

#wrapper .breadcrumb li {
    font: normal normal normal 12px/12px var(--base-font-family);
    color: #3E3E3E;
}

#wrapper .breadcrumb li:after {
    content: ">";
}

/* opinie */
.product-list-reviews {
    position: static;
    justify-content: left;
    padding: 0 0 20px 0;
}

.product-list-reviews .grade-stars .star-content,
.product-comments-additional-info .grade-stars .star-content {
    left: -8px;
}

.product-list-reviews .grade-stars,
.product-comments-additional-info .grade-stars {
    min-width: 90px;
}

.product-list-reviews .comments-nb,
.product-comments-additional-info .comments-nb {
    font: normal normal normal 11px/18px var(--base-font-family);
    color: #6A6A6A;
}

.star-content div.star,
.star-content div.star-on,
.star-content div.star-hover {
    background: url(/modules/productcomments/views/img/small_stars.png) no-repeat -2px 0 transparent;
    width: 16px;
    height: 16px;
    margin-left: 2px;
}

.star-content div.star-on,
.star-content div.star-hover {
    background-position: -21px 0;
}

.alert {
    margin: 0;
}

.card {
    box-shadow: none;
}

.brands-sort .select-title, .products-sort-order .select-title, .suppliers-sort .select-title {
    box-shadow: none;
    border-radius: 20px;
    background: #F5F5F5;
    font: normal normal 600 14px/212px var(--base-font-family);
    padding: 10px 20px;
    border: 0;
    line-height: 24px;
    margin-left: 20px;
    width: auto;
}


.swiper-button-prev:after,
.swiper-button-next:after {
    content: url("../img/svg_icons/slider-arrow.svg");
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    right: 20px;
    left: auto;
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    left: 20px;
    right: auto;
    transform: rotate(180deg);
}
 
#search #js-product-list-top .products-sort-order .select-title {
    margin: 15px 0 0;
}

#zdjecie-salon{
    max-width: 500px;
}

#zdjecie-salon #salon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

#zdjecie-salon #salon address{
    margin-top: 10px;
}

#zdjecie-salon #salon .btn{
    margin-top: 30px;
    display: inline-block;
}