#module-sohoshop_projectwithus-dimension section#wrapper .container{
    width: 100%;
}

#dimension{
    line-height: normal;
}   

#dimension{
    margin-top: 50px;
    margin-left: -15px;
    margin-right: -15px;
}

#dimension .flexbox{
    display: flex;
    justify-content: center;
}

#dimension .banner{
    height: 450px;
    width: 100%;
    margin: 0;
    padding: 0;
}

#dimension .banner .left-banner{
    background-color: #006CB5;
    height: 100%;
    padding: 0;
}

#dimension .banner .left-header{
    text-align: center;
    font-family: 'Gotham';
    font-weight: bold;
    font-size: 34px;
    letter-spacing: 1px;
    color: #FFF;
    opacity: 1;
    margin-top: 100px;
    margin-bottom: 50px;
}

#dimension .banner .left-content{
    text-align: center;
    font-family: 'Gotham';
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0px;
    color: #FFF;
    opacity: .7;
    width: 85%;
    line-height: 1.5;
}

#dimension .banner .right-banner{
    height: 100%;
    padding: 0;
}

#dimension .right-banner img{
    height: 100%;
    width: 100%;
}

#dimension .under-banner-header{
    text-align: center;
    font-family: 'Gotham';
    font-weight: bold;
    font-size: 34px;
    font-weight: 750;
    letter-spacing: 0px;
    color: #000;
    opacity: 1;
    margin-top: 50px;
}

/* #dimension .steps{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
} */

#dimension .steps-img{
    height: 500px;
    width: auto;
}

#dimension .steps .number-bg{
    margin-bottom: 40px;
    max-width: 50px;
    max-height: 50px;
    display: inline-block;
}

#dimension .steps .number-bg div.circle{
    background-image: url("../img/eclipse.svg");
    width: 50px;
    height: 50px;
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gotham';
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    margin-top: -3px;
    margin-left: 3px;
}

#dimension .steps .spet-text{
    font-family: 'Gotham';
    font-weight: 400;
    font-size: 16px;

}

#dimension .steps{
    margin-top: 50px;
    margin-bottom: 70px;
}

#dimension .blog-grid-dim{
    width: 100%;
    margin: 20px 20px 100px 20px;
}


#dimension .blog-image-dim{
    height: 100%;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

#dimension .blog-header{
    text-align: center;
    font-family: 'Gotham';
    font-weight: bold;
    font-size: 34px;
    font-weight: 750;
    letter-spacing: 0px;
    color: #000;
    opacity: 1;
    margin-top: 100px;
    margin-bottom: 50px;
}

#dimension .grid-title-dim{
    font-family: 'Gotham';
    font-weight: 400;
    font-size: 20px;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
}


#dimension .blog-grid-dim .btn-primary{
    font-family: 'Gotham';
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0;
}