@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham/Metropolis-Light.eot');
    src: url('../fonts/Gotham/Metropolis-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gotham/Metropolis-Light.woff2') format('woff2'),
        url('../fonts/Gotham/Metropolis-Light.woff') format('woff'),
        url('../fonts/Gotham/Metropolis-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham/Gotham-Book.eot');
    src: url('../fonts/Gotham/Gotham-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gotham/Gotham-Book.woff2') format('woff2'),
        url('../fonts/Gotham/Gotham-Book.woff') format('woff'),
        url('../fonts/Gotham/Gotham-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham/Gotham-BookItalic.eot');
    src: 
        url('../fonts/Gotham/Gotham-BookItalic.woff') format('woff'),
        url('../fonts/Gotham/Gotham-BookItalic.woff2') format('woff2'),
        url('../fonts/Gotham/Gotham-BookItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gotham/Gotham-BookItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham/Gotham-Bold.eot');
    src: url('../fonts/Gotham/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gotham/Gotham-Bold.woff2') format('woff2'),
        url('../fonts/Gotham/Gotham-Bold.woff') format('woff'),
        url('../fonts/Gotham/Gotham-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham/Gotham-BoldItalic.eot');
    src: url('../fonts/Gotham/Gotham-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gotham/Gotham-BoldItalic.woff2') format('woff2'),
        url('../fonts/Gotham/Gotham-BoldItalic.woff') format('woff'),
        url('../fonts/Gotham/Gotham-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham/Gotham-Medium.eot');
    src: url('../fonts/Gotham/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gotham/Gotham-Medium.woff2') format('woff2'),
        url('../fonts/Gotham/Gotham-Medium.woff') format('woff'),
        url('../fonts/Gotham/Gotham-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham/Gotham-MediumItalic.eot');
    src: url('../fonts/Gotham/Gotham-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gotham/Gotham-MediumItalic.woff2') format('woff2'),
        url('../fonts/Gotham/Gotham-MediumItalic.woff') format('woff'),
        url('../fonts/Gotham/Gotham-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham/Gotham-ExtraLight.eot');
    src: url('../fonts/Gotham/Gotham-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gotham/Gotham-ExtraLight.woff2') format('woff2'),
        url('../fonts/Gotham/Gotham-ExtraLight.woff') format('woff'),
        url('../fonts/Gotham/Gotham-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham/Gotham-ThinItalic.eot');
    src: url('../fonts/Gotham/Gotham-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gotham/Gotham-ThinItalic.woff2') format('woff2'),
        url('../fonts/Gotham/Gotham-ThinItalic.woff') format('woff'),
        url('../fonts/Gotham/Gotham-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham Ultra';
    src: url('../fonts/Gotham/Gotham-UltraItalic.eot');
    src: url('../fonts/Gotham/Gotham-UltraItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gotham/Gotham-UltraItalic.woff2') format('woff2'),
        url('../fonts/Gotham/Gotham-UltraItalic.woff') format('woff'),
        url('../fonts/Gotham/Gotham-UltraItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham/Gotham-Thin.eot');
    src: url('../fonts/Gotham/Gotham-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gotham/Gotham-Thin.woff2') format('woff2'),
        url('../fonts/Gotham/Gotham-Thin.woff') format('woff'),
        url('../fonts/Gotham/Gotham-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham/Gotham-ExtraLightItalic.eot');
    src: url('../fonts/Gotham/Gotham-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gotham/Gotham-ExtraLightItalic.woff2') format('woff2'),
        url('../fonts/Gotham/Gotham-ExtraLightItalic.woff') format('woff'),
        url('../fonts/Gotham/Gotham-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham Ultra';
    src: url('../fonts/Gotham/Gotham-Ultra.eot');
    src: url('../fonts/Gotham/Gotham-Ultra.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gotham/Gotham-Ultra.woff2') format('woff2'),
        url('../fonts/Gotham/Gotham-Ultra.woff') format('woff'),
        url('../fonts/Gotham/Gotham-Ultra.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


:root {
    --base-font-family: 'Gotham', sans-serif;
    --btn-border-color: #006CB5;
    --btn-primary-font-color: #000000;
    --btn-primary-background-color: #FFFFFF;
}

body {
    font-family: var(--base-font-family);
}
b, strong {
    font-weight: 800;
}
