.footer-container {
    box-shadow: none;
}
.block_newsletter_title {
    padding: .625rem 0;
    font: normal normal bold 30px/42px Gotham;
    letter-spacing: 0px;
    color: #006CB5;
}

.block_newsletter_headline {
    padding: 1rem 0;
    font: normal normal normal 15px/18px var(--base-font-family);
    letter-spacing: 0px;
    color: #000000;
}

.block_newsletter form input[type=email],
.block_newsletter form input[type=email]:focus {
    width: 200px;
    border: none;
    border-radius: 20px;
    background: #F5F5F5;
    color: #000000;
    margin-right: 16px;
    padding: 11px;
}

.block_newsletter_conditions {
    font: normal normal normal 12px/14px var(--base-font-family);
    color: #000000;
}

.block_newsletter_conditions a {
    color: #000000;
    text-decoration: underline;
}

.footer-block-title {
    font: normal normal 500 16px/22px Gotham;
    padding: .625rem 0;
    line-height: 34px;
    color: #000000;
}


.footer-container .links ul > li a, .consultants {
    font: normal normal normal 15px/38px var(--base-font-family);
    color: #313131;
    line-height: 1.3rem;
    display: inline-block;
}

.copyright {
    font: normal normal normal 12px/14px var(--base-font-family);
    color: #3D3D3D;
    padding: 2rem .625rem;
    border-top: 1px solid #F5F5F5;
}

.stores {
    position: relative;
}

.stores a {
    font: normal normal 500 18px/22px var(--base-font-family);
    color: #006CB5;
    display: inline-block;
    margin-top: 30px;
    margin-left: 30px;
}

.stores a:hover {
    text-decoration: underline;
}

.stores svg {
    position: absolute;
    width: 22px;
    bottom: -15px;
    fill: #12ABF0;
    stroke: #12ABF0;
}
.footer-container { overflow: visible; }
@media (min-width: 1200px) {
    .container {
        width: 1366px;
    }
}
@media (max-width: 767px) {
    .links .title {
        padding: 1rem .875rem;
        border-top: 1px solid #f6f6f6;
        border-bottom: none;
    }

    .footer-container .links ul {
        background-color: var(--btn-primary-background-color);
    }

    .footer-container .links ul > li {
        padding: 0 .625rem;
    }

    .footer-container .links ul > li a {
        padding: 0 .875rem;
        line-height: 2rem;
    }
    #js-product-list-bottom {
        margin-top: 4rem;
    }
}

.footerBefore{
    background: #F5F5F5;
    text-align: center;
    padding-bottom: 2px;
}
#wSalonach{
    padding-bottom: 50px;
}
@media (max-width: 991px) {
    #wSalonach{
        background: #F5F5F5;
    }
}
#wSalonach .sectionTitle{
    padding: 50px;
    font: normal normal 300 34px/41px var(--base-font-family);
    color:var(--btn-primary-font-color);
}
#wSalonach .row > div{
    height: 200px;
    margin-bottom: 50px;
}
#wSalonach p {
    font: normal normal normal 16px/20px var(--base-font-family);
    color:var(--btn-primary-font-color);
}
#footer .stores a {
    margin-top: 0;
}