.form-control {
    background: #fff;
    color: #000;
    border: 1px solid #CBCBCB;
    border-radius: 30px;
    padding: 16px 26px;
    margin: 12px 0;
    font: normal normal normal 14px/22px var(--base-font-family);
}

textarea.form-control {
    width: 100%;
}

select.form-control:not([size]):not([multiple]) {
    height: initial;
}

.form-control-select {
    position: relative;
}

.select::after {
    content: url(/themes/sohoshop_blu/assets/img/svg_icons/down_arrow.svg);
    position: absolute;
    width: 20px;
    height: 55px;
    top: 12px;
    right: 40px;
    font-weight: 800;
    font-size: 30px;
    line-height: 40px;
}

.form-control:focus, .input-group.focus {
    outline: none;
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #000;
    opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #000;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: #000;
}