#header .header-nav {
    border: none;
    margin: 0;
}
@media (min-width: 768px) {
    #header .header-nav {
        display: none;
    }
}
#header .header-banner {
    height: 50px;
}

#header .logo {
    top: -51px;
    max-width: 170px;
    position: absolute;
}
@media (max-width: 1200px) {
    #header .logo {
        position: static;
        width: 100%;
    }
}
#header .header-top {
    padding-bottom: 0;
}
@media (max-width: 1200px) {
    #header .header-top {
        padding-bottom: 65px;
    }
    .top-row {
        display: flex;
    }
}
#header .header-top .search-widget {
    max-width: 450px;
    width: 100%;
    min-width: unset;
}
@media (max-width: 991px) {
    #header .header-top .search-widget {
        max-width: 400px;
        width: 100%;
        min-width: unset;
    }
}
#header .header-top .position-static {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 0;
}
#header .header-top .top-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    padding-left: 20px;
}
@media (max-width: 1200px) {
    #header .header-top .top-wrapper {
        padding-left: 0px;
    }
}
#header .stores a {
    color: #006CB5;
    font: normal normal 600 18px/26px var(--base-font-family);
}

.header-top .search-widget form input[type=text],
.header-top .search-widget form input[type=text]:focus {
    width: 100%;
    border: none;
    border-radius: 40px;
    background: #F5F5F5;
    color: #000000;
    outline: 0;
    margin-top: 16px;
    padding: 16px 24px;
}

.header-top .search-widget form input[type=text]::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #6A6A6A;
    opacity: 1; /* Firefox */
    font-weight: 400;
}

.header-top .search-widget form input[type=text]:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #6A6A6A;
}

.header-top .search-widget form input[type=text]::-ms-input-placeholder { /* Microsoft Edge */
    color: #6A6A6A;
}

.search-widget form button[type=submit],
.search-widget form button[type=submit]:hover
.search-widget form button[type=submit]:focus {
    right: 24px;
    bottom: 10px;
    color: var(--btn-border-color);
    outline: 0;
}

#header #_desktop_top_menu {
    width: calc(100% + 35px);
    margin-top: 26px;
    padding: 0;
}
@media (max-width: 1200px) {
    #header #_desktop_top_menu {
        padding: 0 15px;
        position: absolute;
        z-index: 2;
        bottom: -35px;
        left: 0;
        transform: translate(0px, 100%);
        width: 100%;
    }
    #_desktop_stores_top {
        padding-left: 14px;
        width: 35%;
    }
    #_desktop_stores_top .stores {
        width: fit-content;
    }
    #_desktop_wishlist-top,#_desktop_cart,#_desktop_user_info {
        padding: 0 5px;
    }
    #header .header-top .position-static {
        width: 89%;
    }
}
@media (max-width: 767px) {
    #header .header-top .position-static {
        width: 100%;
        padding: 0 15px;
    }
}
.top-menu[data-depth="0"] li {
    position: relative;
}

.top-menu[data-depth="0"] li svg {
    fill: none;
    stroke: #000;
    stroke-miterlimit: 10;
    stroke-width: 1.5px;
    position: absolute;
    top: 6px;
    right: -16px;
    width: 10px;
}
@media (max-width: 991px) {
    .top-menu[data-depth="0"] li svg {
        top: 6px;
        right: -8px;
        width: 6px;
    }
}
#header .header-top a[data-depth="0"] {
    font: normal normal 500 16px/19px var(--base-font-family);
    display: block;
    width: 100%;
    padding: 0 0 0 0;
    clear: both;
    color: var(--btn-primary-font-color);
    text-align: inherit;
    white-space: nowrap;
    background: none;
    border: 0;
    text-transform: none;
}
@media (max-width: 991px) {
    #header .header-top a[data-depth="0"] {
        font-size: 14px;
    }
}
#header .top-menu a[data-depth="0"]:hover {
    color: var(--btn-border-color);
}

.top-menu[data-depth="0"] li a:hover svg {
    stroke: var(--btn-border-color);
}

.top-menu .popover {
    top: 2rem !important;
    max-width: none;
    width: initial;
    min-width: initial;
    box-shadow: none;
    left: 0;
    margin: 0 -2rem;
}

.top-menu a.dropdown-submenu {
    font-weight: 400;
    text-transform: none;
}

#header #wishlist-top,
#header .blockcart .header,
#header .user-info {
    text-align: center !important;
    color: var(--btn-primary-font-color);
    font-size: 10px;
    line-height: 10px;
    margin-top: 16px;
    position: relative;
}
#header .counter {
    display: flex;
    position: absolute;
    width: 20px;
    height: 20px;
    color: #fff;
    background: #006CB5;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    top: -6px;
    right: -6px;
}

#header #wishlist-top a:hover,
#header .blockcart .header a:hover,
#header .user-info a:hover {
    color: var(--btn-primary-font-color);
    text-decoration: underline;
}

#header .header-nav .blockcart a {
    color: #000;
}

#header #pappers-top .collapsePappersTop-btn {
    outline: 0;
    border: none;
    background: #fff;
    font: normal normal 500 12px/14px var(--base-font-family);
    padding: 14px 14px 0px 14px; 
    position: relative;
    z-index: 10;
    margin-left: -30px;
    cursor: pointer;
}
@media (max-width: 1300px) {
    #header #pappers-top .collapsePappersTop-btn {
        margin-left: 0px;
    }
}
#header #pappers-top .collapsePappersTop-btn svg {
    fill: none;
    stroke: #000;
    stroke-miterlimit: 10;
    stroke-width: 1.5px;
    width: 9px;
    margin-left: 7px;
}

@media (max-width: 767px) {
    .nav-row {
        margin: 0;
    }
    #header .header-top {
        background: #fff;
        padding-bottom: 0;
    }
    
    #header .header-top .search-widget {
        margin: 0 auto 1rem;
    }

    #header .header-nav .top-logo {
        padding: 0;
        float: left;
    }

    #header .header-nav .top-logo h1 {
        margin: 0;
    }

    #header .header-nav .top-logo a img {
        position: static;
        max-height: 70px;
        width: auto;
        padding: 1px 1rem;
        background: #0171BD;
    }

    .header-top .search-widget form input[type=text], .header-top .search-widget form input[type=text]:focus {
        width: 100%;
    }

    #_mobile_stores_top .stores {
        padding: .75rem;
        text-align: center;
    }

    #_mobile_stores_top .stores a {
        font: normal normal normal 10px/10px var(--base-font-family);
        color: var(--btn-primary-font-color);
        margin: 0;
        display: block;
        width: 50px;
    }

    #_mobile_stores_top .stores svg {
        position: static;
        fill: #000;
        stroke: #000;
        height: 24px;
    }

    #_desktop_user_info, #_desktop_cart, #_desktop_wishlist-top, #_desktop_stores_top {
        display: none;
    }
}
@media (max-width: 480px) {
    #_mobile_stores_top .stores,#header .header-nav .blockcart {
        padding: .75rem 5px;
    }
}
#header .header-nav #menu-icon {
    margin: 1rem 0;
    font: normal normal normal 10px/10px var(--base-font-family);
    text-align: center;
}

#wrapper {
    background: #fff;
    box-shadow: none;
    padding-top: 0;
    display:  block !important;
}