/* slider */
.carousel {
    box-shadow: none;
}

.carousel .carousel-inner {
    height: fit-content;
}

.carousel .carousel-item {
    text-align: center;
}

.carousel .carousel-indicators {
    display: block !important;
}

.carousel .carousel-item .caption {
    display: none;
}

.carousel .carousel-control .icon-prev {
    transform: rotate(180deg);
    left: 50%;
    width: 70px;
    height: 70px;
}

.carousel .carousel-control .icon-next {
    right: 50%;
    width: 70px;
    height: 70px;
}

.carousel .carousel-control.left, .carousel .carousel-control.right {
    width: 150px;
}

#custom-text {
    margin-bottom: 0;
    padding: 3.125rem 0px;
}


#wrapper .banner {
    background: #fff;
    border-radius: 2px;
    margin-bottom: 1.5rem;
    padding: 0 3.125rem;
    text-align: center;
}

#wrapper .banner img {
    box-shadow: none;
    max-width: none;
    width: 100%;
}

#homeBanner{
    position:relative;
    margin-top: 30px;
}

#homeBanner #homeBanner-desriptionLeft {
    border-radius: 40px 0px 0px 40px;
    justify-content: center;
}
#homeBanner-desriptionRight {
    border-radius: 0px 40px 40px 0px;
}
#index #homeBanner-desriptionRight .arrow-right {
    stroke: #006CB5;
}
#homeBanner-desriptionRight {
    font: normal normal normal 18px/26px Gotham;
    letter-spacing: 0px;
    color: #FFFFFF;
}
#homeBanner .background {
    display: flex;
    align-items: stretch;
}
#homeBanner .background .col-md-6 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px 60px 35px 50px;
}
@media (min-width: 993px) {
    #soshohomecategories .swiper-wrapper {
        flex-wrap: wrap;
        box-sizing: border-box;
        justify-content: space-between;
    }
    #soshohomecategories .swiper-wrapper .col-lg-4 {
        padding: 0;
        width: calc(33.33333% - 15px);
        margin-bottom: 20px;
    }
}

@media (max-width: 992px) {
    #homeBanner .background {
        flex-direction: column;
        padding: 0;
    }
    #homeBanner-desriptionRight > svg {
        margin-right: 20px;
    }
    #homeBanner .background .col-md-6 {
        border-radius: unset !important;
        width: 100%;
        padding: 35px;
        justify-content: center;

    }
}
#soshohomecategories, #soshohomeindexation{
    padding: 0 15px;
}
#soshohomecategories {
    display: flex;
    flex-wrap: wrap;
}
#homeBanner-desriptionRight {
    background-color: #7EBBE2;
}
#homeBanner-desriptionLeft {
    background-image: url(/themes/sohoshop_blu/assets/img/bannerek1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 23px;
    font-family: 'Gotham';
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0px;
    color: #FFFFFF;
}
@media (max-width: 992px) {
    #homeBanner-desriptionLeft {
        background-position: -60px 0px;
        background-size: 125%;
    }
}
@media (max-width: 600px) {
    #homeBanner-desriptionLeft {
        background-size: cover;
    }
}
#soshohomeindexation .hc_block {
    float: left;

}
#index .hc_block {
    cursor: pointer;
    position: relative;
}
#soshohomeindexation .swiper-container {
    padding-bottom: 30px;
    padding-left: 10px;
}
@media (min-width: 992px) {
    #soshohomeindexation .swiper-container {
        overflow: visible;
        padding-left: 0;
    }
    #soshohomeindexation .swiper-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #soshohomeindexation .swiper-wrapper .swiper-slide {
        width: calc(33.33333% - 15px);
        margin-bottom: 20px;
    }
}
@media (min-width: 1160px) {
    #soshohomeindexation .swiper-wrapper .swiper-slide {
        width: calc(25% - 15px);
        margin-bottom: 20px;
    }
}
@media (max-width: 992px) {
    #soshohomecategories .hc_block,
    #soshohomeindexation .hc_block {
        margin: 0;
        float: none;
    }
    #soshohomecategories .hc_block img,
    #soshohomeindexation .hc_block img{
        max-width: 100%;
    }
}
#soshohomeindexation .hc_block * {
    text-align: center;
    font: normal normal normal 14px/20px Gotham;
    letter-spacing: 0.2px;
    color: #000000;
}
#soshohomeindexation .hc_block h2{
    margin-top: 20px;
}
@media (min-width: 992px) {
    #soshohomeindexation .hc_block * {
        font: normal normal 300 34px/41px var(--base-font-family);
        color: #fff;
        text-align: center;
        width: 100%;
    }
    #soshohomeindexation .hc_block h2 {
        margin-top: 0;
    }
}
#soshohomecategories .hc_block * {
    font: normal normal 300 34px/41px var(--base-font-family);
    color: #fff;
    text-align: center;

}
#soshohomecategories .hc_block img {
    width: 100%;
}

@media (min-width: 993px) {
    #soshohomecategories .hc_block a,
    #soshohomeindexation .hc_block a {
        display: inline-block;
    }
}
#soshohomecategories .hc_block img,
#soshohomeindexation .hc_block img {
    transition: transform .5s ease;
}
@media (max-width: 991px) {
    #soshohomeindexation .hc_block img {
        height: auto;
        width: 100%;
    }
    #soshohomeindexation .hc_block a.image  {
        border-radius: 50%;
        overflow: hidden;
    }
    #index #wrapper > .container {
        padding: 0;
    }
}
#soshohomecategories .hc_block:hover img,
#soshohomeindexation .hc_block:hover img {
    transform: scale(1.1);
}
@media (min-width: 992px) {
    #soshohomeindexation .hc_block_title {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
    }
}
#soshohomecategories .hc_block_title {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

#soshohomeindexation {
    position: relative;
    background: #F5F5F5;
    margin-top: 30px;
    text-align: center;
    padding-bottom: 42px;
}
@media (max-width: 991px) {
    #soshohomeindexation {
        padding: 0 0 40px;
        margin-top: 50px;
    }
}

#soshohomeindexation section {
    position: relative;
    z-index: 1;
}

#soshohomeindexation .categoryName {
    padding-top: 46px;
    font: normal normal bold 38px/46px var(--base-font-family);
}

#soshohomeindexation .sneakPeak,
.ybc_block_category .sneakPeak {
    text-align: center;
    font: normal normal normal 18px/22px var(--base-font-family);
    margin-bottom: 50px;
}
@media (max-width: 991px) {
    #soshohomeindexation .categoryName {
        padding-top: 30px;
    }
    #soshohomeindexation .sneakPeak {
        margin-bottom: 30px;
    }
    #soshohomeindexation .swiper-scrollbar {
        margin-left: 10px;
    }
}
#soshohomeindexation:before {
    content: "";
    width: calc(100vw - 18px);
    height: 100%;
    background: #F5F5F5;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

#soshohomeindexation .btn {
    font: normal normal 500 16px/19px var(--base-font-family);
    text-transform: uppercase;
    color: #000;
    background-color: #F5F5F5;
    border: 2px solid #fff;
    border-radius: 40px;
    letter-spacing: 0.16px;
    outline: none;
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80vw;
    max-width: 400px;
    margin: 42px auto 0;
    padding: 18px 4rem;
}
@media (max-width: 991px) {
    #soshohomeindexation .btn {
        margin: 30px auto 0;
    }
}
#soshohomeindexation .btn svg {
    fill: none;
    stroke: #000;
    stroke-miterlimit: 10;
    stroke-width: 1.5px;
    position: relative;
    transform: rotate(-90deg);
    margin-left: 3px;
}

#soshohomeindexation .btn:hover {
    color: #000;
    background-color: #fff;
    border-color: #fff;
}

.featured-products {
    margin-top: 60px;
}

.featured-products .h2 {
    text-align: center;
    font: normal normal 300 34px/41px var(--base-font-family);
    text-transform: none;
}

.page_home .title_blog, .page_home_gallery .title_blog {
    text-align: center;
    font: normal normal bold 38px/46px var(--base-font-family);
    color: var(--btn-primary-font-color);
    text-transform: none;
    margin-bottom: 16px;
}

.page_home, .page_home_gallery {
    padding: 15px 0;
}

.ybc_title_block {
    font: normal normal 300 30px/36px var(--base-font-family);
    color: var(--btn-primary-font-color);
    text-transform: none;
    padding: 0;
    margin: 15px 0;
    text-overflow: ellipsis;
    overflow: hidden;
}

.ybc_block_featured.page_home .ybc_title_block{
    font-size: 20px;
}

a.ybc_title_block:hover {
    color: var(--btn-primary-font-color);
}

#index .blog_description {
    min-height: 60px;
    overflow: hidden;
}
.blog_description p {
    font: normal normal normal 14px/22px var(--base-font-family);
    color: var(--btn-primary-font-color);
}
.ybc_blog_ltr_mode a.btn {
    padding: 18px 60px;
    margin-top: 30px;
    text-transform: uppercase;
    font: normal normal 500 16px/19px var(--base-font-family);
}
#index a.btn svg, #index .arrow-right {
    fill: none;
    stroke: #000;
    stroke-miterlimit: 10;
    stroke-width: 1.5px;
    position: relative;
    transform: rotate( 
-90deg
 );
    margin-left: 3px;
}
.ybc_blog_ltr_mode a.btn:hover {
    color: #fff;
    
}
.ybc_blog_ltr_mode a.btn:hover svg {
    stroke: #fff;
}

.carousel .carousel-item img {
    width: 100vw;
}
#index #wrapper .breadcrumb[data-depth="1"]{
    display: none;
}
#custom-text .row {
    margin-left: 0;
    margin-right: 0;
}
.carousel-inner-wrapper {
    position: relative;
}
@media (max-width: 991px){
    #index .ybc_block_category .title_blog {
        margin-top: 40px;
    }
    #index .ybc_block_category {
        margin-bottom: 15px;
    }
    #index .ybc_block_category .block_content li {
        margin-bottom: 40px;
    }
    #index .featured-products .swiper-button-next, #index .featured-products .swiper-button-prev {
        display: none;
    }
    #soshohomecategories {
        padding-bottom: 40px;
    }
    .ybc_block_featured.page_home .title_blog {
        margin-bottom: 40px;
    }
    .carousel{
        margin-bottom: 0;
        padding-bottom: 0;
        margin-left: 0;
        position: static;
        width: 100%;
    }
    .carousel .carousel-inner {
        margin-bottom: 0;
        height: 440px;
    }
    .carousel .carousel-item img{
        height: 440px;
        max-width: none;
        width: auto;
    }
    .carousel .direction .carousel-control .icon-prev {
        left: 15px;
    }
    #custom-text {
        margin-bottom: 0;
        padding: 3.125rem 0;
    }

    #soshohomecategories .hc_block,
    #soshohomeindexation .hc_block {
        margin: 0;
        float: none;
    }
    #soshohomecategories .hc_block img,
    #soshohomeindexation .hc_block img{
        max-width: 100%;
    }
}