.ybc_image-single {
    position: relative;
}

.marker {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    padding: 3px;
    color: #006CB5;
    cursor: pointer;
}

.marker_content {
    z-index: 0;
    top: -100px;
    padding: 10px;
    position: absolute;
    left: 0;
    background: #fff;
    margin-left: 50px;
    z-index: 10;
    border: 1px solid #E2E2E2;
    opacity: 0;
}

.ybc_blog_img_wrapper .marker_content {
    top:-80px;
}
.marker_content .marker-inner {
    width: 0px;
    height: 0px;
    transition: 0.4s;
}
.marker_content::after {
    content: '';
    position: absolute;
    left: 0;
    top: 40%;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right:15px solid #fff; 
    transform: translate(-100%, 0px);
}
.marker-inner {
    overflow: hidden;
}
.soho-single-newspaper .marker_content.left_marker_content{
    top: -82px;
}
.marker_content.active {
    z-index: 1;
    display: flex;
    opacity: 1;
}
.marker_content.active .marker-inner {
    width: 500px;
    height: 190px;
    display: flex;
}
@media (max-width:1260px) {
    .marker_content.active .marker-inner {
        display: flex;
        flex-direction: column;
        opacity: 1;
        width: 330px;
        height: fit-content;
    }
    .soho-single-newspaper .marker_content.left_marker_content {
        top: -114px;
    }
}
@media (max-width:767px) {
    .marker_content.active .marker-inner {
        width: fit-content;
    }
}

.marker_content img {
    max-width: 163px;
    width: 100%;
    border: 1px solid #F0F0F0;
    float: left;
    height: auto;
}
.marker_content .right-box{
    color: black;
    text-align: left;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
@media (max-width:1260px) {
    .marker_content .right-box{
        padding-left: 0;
        text-align: center;
    }
    .marker_content img {
        margin: auto;
    }
}
@media (max-width:767px) {
    .marker_content .right-box .btn-inspire {
        font-size: 12px;
        width: fit-content;
        margin: auto;
        padding: .5rem 1rem;
    }
}
.marker-icon {
    width: 30px;
    height: 30px;
    max-width: none !important;
}
@media (max-width:640px) {
    .marker_content img {
        max-width: 100px;
    }
    .marker_content .right-box h3 {
        font-size: 1rem;
        margin: 0.5rem 0;
    }
    .soho-single-newspaper .marker_content.left_marker_content {
        top: -95px;
    }
}
@media (max-width:480px) {
    .marker_content.active .marker-inner {
        flex-direction: row;
        width:320px;
    }
    .marker_content {
        top: 25px;
        left: -90%;
    }
    .marker_content.left_marker_content {
        top: -92px;
        left: -3%;
    }
    #inspiracje-slider .marker_content::after {
        left: 64%;
    }
}
@media (min-width:768px) {
    .content-single-newspaper-img .newspaper-img-container:nth-child(even) .marker_content {
        left: auto;
        top: -80px;
        right: 35px;
    }
    .content-single-newspaper-img .newspaper-img-container:nth-child(even) .marker_content::after {
        transform: translate(100%, 0px);
        border-top: 15px solid transparent;
        border-right: 0px;
        border-bottom: 15px solid transparent;
        border-left: 15px solid #fff;
        left: auto;
        right: 0px
    }
}   

.marker_content.right_marker_content {
    left: auto;
    top: -78px;
    right: 35px;
    transform: unset !important;
}
.marker_content.right_marker_content::after {
    transform: translate(100%, 0px);
    border-top: 15px solid transparent;
    border-right: 0px;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #fff;
    left: auto;
    right: 0px;
}

@media (max-width:767px) {
    .content-single-newspaper-img .marker_content.right_marker_content::after {
        top: 80px;
    }
}

@media (max-width:640px) {
    .marker_content.right_marker_content::after {
        top: 85px;
    }
    #inspiracje-slider .marker_content.centered_marker_content {
        right: 0px;
        left: auto;
        top: 50px;
        transform: translate(50%, 0px) !important;
    }
    #inspiracje-slider .marker_content.centered_marker_content::after {
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-top: 0px solid transparent;
        border-bottom: 15px solid #fff;
        left: auto;
        right: 45%;
        transform: translate(100%, -100%);
        top: 0 !important;
    }
}

@media (max-width:480px) {
    .soho-single-newspaper .marker_content .marker-inner {
        flex-direction: column;
        width: auto;
    }
    .marker_content.centered_marker_content {
        right: 0px;
        left: auto;
        top: 50px;
        transform: translate(50%, 0px) !important;
    }
    .marker_content.centered_marker_content::after {
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-top: 0px solid transparent;
        border-bottom: 15px solid #fff;
        left: auto;
        right: 60%;
        transform: translate(100%, -100%);
        top: 0;
    }
    .soho-single-newspaper .marker_content.left_marker_content {
        top: 50px;
    }
}