#_desktop_top_menu .top-menu[data-depth="0"] li .sub-menu {
    padding: 0;
}
#_desktop_top_menu .top-menu .sub-menu ul[data-depth]>li {
    margin: 0;
    width: 100%;
    padding-left: 30px;
    min-width: 250px;
    position: static;
}
@media (max-width: 1200px) {
    #_desktop_top_menu .top-menu .sub-menu ul[data-depth]>li {
        min-width: 200px;
    }
}
#_desktop_top_menu .top-menu .sub-menu ul .collapse {
    position: absolute;
    top: 0;
    background-color: #006CB5;
    padding-top: 0rem;
    right: 0.5px;
    transform: translate(100%, 0px);
    opacity: 0;
    transition: 0.3s;
    z-index: -1;
    min-height: 443px;
}
#_desktop_top_menu .top-menu .sub-menu ul .collapse a{
    color: #fff;
}

#_desktop_top_menu .top-menu {
    margin: 0;
    position: relative;
}
#_desktop_top_menu .top-menu[data-depth="0"] {
    margin-bottom: 1rem;
    display: flex;
    width: 100%;
    justify-content: space-between;    
}
#_desktop_top_menu .top-menu .sub-menu ul[data-depth] .desktop-collapse-icons {
    position: absolute;
    top: -3px;
    right: 10px;
    height: 100%;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#_desktop_top_menu .top-menu .sub-menu ul[data-depth] svg {
    position: static;
}
@media (min-width: 768px) {
    #_desktop_top_menu .top-menu .sub-menu ul[data-depth]>li:hover .dekstop-menu_wrapper .children-menu {
        opacity: 1;
        z-index: 5;
    }
}
#_desktop_top_menu .top-menu .sub-menu ul[data-depth]>li:hover  {

}
#_desktop_top_menu .top-menu .sub-menu .dropdown-item svg {
    width: 8px;
    height: 5px;
    transform: rotate(-90deg) translate(-2px, 0px);
}
#_desktop_top_menu .top-menu a:not([data-depth="0"]) {
    padding-top: 0;
    padding-left: 0;
}
#_desktop_top_menu .top-menu .sub-menu .category {
    padding: 10px 0;
    transition: 0.3s;
}
#_desktop_top_menu .top-menu[data-depth="2"] .category,#_desktop_top_menu .top-menu[data-depth="3"] .category {
    padding-bottom: 5px !important;
}
#_desktop_top_menu .top-menu .sub-menu .category:hover {
    background-color: #006CB5;
}
#_desktop_top_menu .top-menu .sub-menu .category:hover a {
    color: #fff;
}
#_desktop_top_menu .top-menu .sub-menu .category:hover svg {
    stroke:#fff;
}
#_desktop_top_menu .top-menu .sub-menu a.dropdown-item {
    padding-bottom: 0;
    position: relative;
}
#_desktop_top_menu .top-menu .sub-menu ul >li:first-of-type {
    padding-top: 1.5rem;
}
#_desktop_top_menu .top-menu .sub-menu ul >li:last-of-type, #_desktop_top_menu .top-menu[data-depth="2"] .category:last-of-type,#_desktop_top_menu .top-menu[data-depth="3"] .category:last-of-type {
    padding-bottom: 30px !important;
}
#wrapper.overlay {
    position: relative;
    overflow: hidden;
}
#wrapper.overlay::after {
    content: '';
    background: rgba(0,0,0,0.1);
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    position: absolute;
    z-index: 1;
}
#mobile_top_menu_wrapper {
    display: none;
}
@media (max-width: 767px) {
    #mobile_top_menu_wrapper {
        position: fixed;
        z-index: 10;
        right: 0px;
        top: 0px;
        height: 100vh;
        width: 90vw;
        transition: 0.3s;
        transform: translate(100%, 0px);
    }
    #header.is-open #mobile_top_menu_wrapper {
        transform: translate(0%, 0px);
    }
    #header.is-open .mobile_top_menu_overlay {
        background: rgba(0,0,0,0.1);
        height: 100vh;
        width: 100vw;
        left: 0;
        top: 0;
        position: fixed;
        z-index: 1;
    }
    #mobile_top_menu_wrapper {
        padding: 0;
        display:  block !important;
    }
}


.close_category_menu {
    cursor: pointer;
    stroke: #fff;
}

.mobile_top_menu_header {
    background-color: #006CB5;
    padding: 1.2rem 2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#_mobile_top_menu .top-menu[data-depth="0"] > li {
    padding: 1.2rem 1.5rem;
    border-bottom: 1px solid #EFEFEF;
}
#_mobile_top_menu {
    overflow: auto;
    overflow-y: scroll;
    height: 100%;
}
#_mobile_top_menu .top-menu[data-depth="0"] > li .dropdown-item .navbar-toggler {
    display: flex;
    justify-content: flex-end;
    transform: translate(3px, 0px);
}
#mobile_top_menu_wrapper .top-menu .sub-menu ul[data-depth="1"]>li , #mobile_top_menu_wrapper .top-menu .sub-menu ul[data-depth="2"]>li {
    margin: 0 1.25rem;
}
#mobile_top_menu_wrapper .top-menu .sub-menu ul[data-depth="1"]>li:not(:last-of-type) , #mobile_top_menu_wrapper .top-menu .sub-menu ul[data-depth="2"]>li:not(:last-of-type) {
    border-bottom: 1px solid #EFEFEF;
}
#mobile_top_menu_wrapper .top-menu .sub-menu ul[data-depth="1"]>li:last-of-type , #mobile_top_menu_wrapper .top-menu .sub-menu ul[data-depth="2"]>li:last-of-type {
    padding-bottom: 1rem;
}
#mobile_top_menu_wrapper .top-menu a[data-depth="1"],#mobile_top_menu_wrapper .top-menu a[data-depth="2"] {
    padding: 0.5rem !important;
}
#mobile_top_menu_wrapper .top-menu .navbar-toggler .add {

}   
#mobile_top_menu_wrapper .top-menu .navbar-toggler .remove {
    transform: rotate(90deg);
}   
#mobile_top_menu_wrapper .top-menu .navbar-toggler .mobile-icon-menu {
    width: auto;
    stroke: #006CB5;
    position: static;
}
#mobile_top_menu_wrapper .top-menu .children-menu {
    width: 100%;
}
.mobile-icon-menu {
    stroke:#fff;
    stroke-width:1.5px;
}
.mobile-icon-menu path {
    fill:none;
}
#_desktop_top_menu .top-menu .show_all_menu {
    font-weight: 500;
    padding-bottom: 0;
}