.featured-products .thumbnail-container, .product-accessories .thumbnail-container, .product-miniature .thumbnail-container {
    box-shadow: none;
    width: 275px;
    height: 530px;
    border: 1px solid #EDEDED;
}

#products .thumbnail-container{
    width: 308px;
    box-shadow: none;
    height: 530px;
    border: 1px solid #EDEDED;
}

@media (max-width: 767px) {
    .product-miniature .thumbnail-container {
        width: 100% !important;
    }
    #category .products div[itemprop="itemListElement"] {
        width: 50%;
    }
}

#products .product-miniature, .featured-products .product-miniature, .product-accessories .product-miniature, .product-miniature .product-miniature {
    margin: 0 1rem;
}

#products .highlighted-informations, .featured-products .highlighted-informations, .product-accessories .highlighted-informations, .product-miniature .highlighted-informations {
    box-shadow: none;
}

/*ukrycie szybkiego podglądu na hover */
#products .thumbnail-container:focus .highlighted-informations, #products .thumbnail-container:hover .highlighted-informations, .featured-products .thumbnail-container:focus .highlighted-informations, .featured-products .thumbnail-container:hover .highlighted-informations, .product-accessories .thumbnail-container:focus .highlighted-informations, .product-accessories .thumbnail-container:hover .highlighted-informations, .product-miniature .thumbnail-container:focus .highlighted-informations, .product-miniature .thumbnail-container:hover .highlighted-informations,
#products .thumbnail-container:focus .highlighted-informations.no-variants, #products .thumbnail-container:hover .highlighted-informations.no-variants, .featured-products .thumbnail-container:focus .highlighted-informations.no-variants, .featured-products .thumbnail-container:hover .highlighted-informations.no-variants, .product-accessories .thumbnail-container:focus .highlighted-informations.no-variants, .product-accessories .thumbnail-container:hover .highlighted-informations.no-variants, .product-miniature .thumbnail-container:focus .highlighted-informations.no-variants, .product-miniature .thumbnail-container:hover .highlighted-informations.no-variants {
    bottom: 1.25rem;
}

#products .thumbnail-container:focus .product-description:after, #products .thumbnail-container:hover .product-description:after, .featured-products .thumbnail-container:focus .product-description:after, .featured-products .thumbnail-container:hover .product-description:after, .product-accessories .thumbnail-container:focus .product-description:after, .product-accessories .thumbnail-container:hover .product-description:after, .product-miniature .thumbnail-container:focus .product-description:after, .product-miniature .thumbnail-container:hover .product-description:after {
    content: none;
}


#products .thumbnail-container .product-thumbnail, .featured-products .thumbnail-container .product-thumbnail, .product-accessories .thumbnail-container .product-thumbnail, .product-miniature .thumbnail-container .product-thumbnail {
    height: 100%;
}
@media (max-width: 767px) {
    #category .products .product-miniature .thumbnail-container .product-thumbnail {
        height: fit-content;
        position: relative;
    }
    #category .products .product-miniature .product-flags {
        top: unset;
        left: 15px;
        bottom: 15px;
    }
    #category .products .product-miniature .product-flags .product-flag {
        font-size: 11px !important;
    }
    #category .products .product-miniature .thumbnail-container .product-thumbnail img  {
        position: static;
    }
    #category .products .product-miniature .thumbnail-container .product-thumbnail img.imageHover  {
        position: absolute;
    }
    #category .product-miniature .thumbnail-container {
        height: auto;
        padding-bottom: 15px;
    }
    #category .products .product-miniature {
        margin: 0 6px;
    }
}

#products .thumbnail-container .product-thumbnail img, .featured-products .thumbnail-container .product-thumbnail img, .product-accessories .thumbnail-container .product-thumbnail img, .product-miniature .thumbnail-container .product-thumbnail img {
    padding: 15px;
    margin: 0;
}

.imageHover{
    opacity:0;
    transition: opacity 0.3s, visibility 0.3s;    
}

.imageHover:hover{
    opacity:1;    
}

.product-flags {
    top: 285px;
    bottom: initial;
    flex-direction: row;
    margin: 0;
    left: 15px;
}

.product-flags li.product-flag {
    background-color: #006CB5;
    box-shadow: none;
    font: normal normal normal 13px/25px var(--base-font-family) !important;
    margin: 0;
    min-width: unset !important;
    min-height: unset !important;
    padding: 0 8px;
    text-transform: none;
    width: auto !important;    

}

.product-flags li.product-flag.discount, .product-flags li.product-flag.discount-amount, .product-flags li.product-flag.discount-percentage {
    background-color: #FF0000;
}

.thumbnail-container .manufacturer {
    position: absolute;
    right: 8px;
    top: 285px;
    font: normal normal bold 14px/22px var(--base-font-family);
    line-height: 20px;
    display: inline-block;
    padding: .3125rem .4375rem;
    color: #000;
}
#category #products .thumbnail-container .manufacturer {
    display: none;
}

.product-short-description {
    height: 16px;
    overflow: hidden;
}

.thumbnail-container .product-short-description * {
    font: normal normal normal 14px/16px var(--base-font-family);
    color: #000;
    margin: 0;
}

#products .product-description, .featured-products .product-description, .product-accessories .product-description, .product-miniature .product-description {
    width: calc(100% - 30px);
    top: 325px;
    bottom: initial;
    padding: 0 15px;
    height: 198px;
}

#products .product-title a, .featured-products .product-title a, .product-accessories .product-title a, .product-miniature .product-title a {
    font: normal normal bold 14px/14px var(--base-font-family);
    color: #000;
}

#products .product-title, .featured-products .product-title, .product-miniature .product-title {
    text-align: left;
    height: 60px;
    margin-top: 0;
    margin: 0;
}

.thumbnail-container .product-quantities * {
    font: normal normal normal 12px/12px var(--base-font-family);
    color: #000;
    margin: 0;
}

/*ceny */
#products .product-price-and-shipping, .featured-products .product-price-and-shipping, .product-accessories .product-price-and-shipping, .product-miniature .product-price-and-shipping {
    text-align: left;
    font: normal normal bold 22px/26px var(--base-font-family);
    margin-top: 10px;
    position: relative;
}

#products .regular-price, .featured-products .regular-price, .product-accessories .regular-price, .product-miniature .regular-price {
    font: normal normal 300 16px/19px var(--base-font-family);
    color:#000;
    margin-left: 16px;
}
.moneySave{
    font: normal normal normal 12px/24px var(--base-font-family);
    color: #FF0001;
    position: absolute;
    top: -20px;
}
.product-miniature .thumbnail-container .wishlist {
    position: absolute;
    right: 25px;
    top: 25px;
    z-index: 3;
}
.swiper-wrapper .swiper-slide .product-miniature {
    margin: 0;
}
.swiper-wrapper .swiper-slide .thumbnail-container {
    width: 100%;
    max-width: 308px;
}
.swiper-wrapper .product-thumbnail img  {
    margin: 0 !important;
}
.product-miniature .product-description {
    background: unset;
}