#product .product-container {
    padding-top: 50px;
    margin: 0;
}
@media (max-width: 767px) {
    #product .product-container {
        display: flex;
        flex-direction: column;
        padding-top: 0;
    }
}

#product .product-container-left {
    width: 55%;
    float: left;
    position: relative;
}
#product .product-container-right {
    width: 40%;
    float: left;
    margin-left: 5%;
    position: relative;
}
.btn-wokolicy-order {
    cursor: pointer;
    background-color: #ED6554;
    border: unset;
    color: #fff;
    font-weight: 700;
    padding: 10px;
    display: block;
    margin: 20px auto 0;
}
#product #storeLocator .btn-wokolicy-order {
    display: none;
}
@media (max-width: 767px) {
    #product .product-container-left,#product .product-container-right {
        width: 100%;
    }
    #product .product-container-right {
        margin-left: 0;
    }
}

#product .product-container-right .product-flags {
    left: 0px;
}

#product #content {
    max-width: none;
}

.images-container {
    display: flex;
}
.product-container-bottom .product-description-short {
    width: 55%;
    float: left;
    padding-left: 15px;
}
.product_features_wrapper {
    width: 40%;
    float: left;
    margin-left: 5%;
}
.miniaturesSlider {
    padding: 40px 0 60px;
    position: relative;
    width: 136px;
    height: 536px;
    top:-40px;
}
.miniaturesSlider .swiper-container-horizontal>.swiper-scrollbar {
    height: 3px;
}
@media (max-width: 767px) {
    .miniaturesSlider {
        width: 100%;
        height: auto;
        top: unset;
        padding: 26px 0 32px;
    }
    .miniaturesSlider .swiper-container {
        height: 450px;
    }
}
.miniaturesSlider .custom-button-next {
    width: 20px;
    height: 25px;
    background: url(../img/arrow.svg);
    position: absolute;
    top: 0;
    left: 56px;    
}

.miniaturesSlider .custom-button-prev {
    width: 20px;
    height: 25px;
    background: url(../img/arrow.svg);
    position: absolute;
    bottom: 30px;
    transform: rotate(180deg);
    left: 56px;
}

.images-container .product-images > li.thumb-container > .thumb {
    margin: 0;
    border: 1px solid #F0F0F0 !important;    
    height: 134px;
    max-height: 100%;
}
@media (max-width: 767px) {
    .images-container .product-images > li.thumb-container > .thumb {
        margin: auto;
        display: block;
        height:100%;
    }
}
.product-images > li.thumb-container > .thumb {
    box-shadow: none;
}

.product-cover {
    margin: 0 auto;
    
}
#product .images-container .product-cover {
    padding-left: 15px;
}
.product-cover img {
    box-shadow: none;
}
.miniaturesSlider .counter {
    position: absolute;
    bottom: 0;
    transform: translate(16px, -43px);
    max-width: 420px;
    left: 0;
    z-index: 10;
    right: 0;
    margin: auto;
    font: normal normal normal 14px Gotham;
    letter-spacing: 0px;
}
#product .product-flags {
    top: 0;
    z-index: 1;
}

#product .product-manufacturer {
    float: right;
}

#product .h1 {
    font: normal normal bold 30px/55px var(--base-font-family);
    padding-top: 56px;
    margin: 0;
    text-transform: none;
    color: #000;
}
@media (max-width: 767px) {
    #product .h1 {
        padding-top: 0px;
        line-height: 1;
        margin-bottom: 10px;
    }
}
#product .product-subtitle {
    position: relative;
    height: 38px;
    font-size: 13px;
}

#product .product-subtitle * {
    font: normal normal normal 16px/22px var(--base-font-family);
    color: #000000;
}

#product .product-description-short .mobile-describe * {
    font: normal normal normal 16px/28px var(--base-font-family);
    color: #000000;
}

#product .product-description-short ul,#product .product-description-short ol {
    padding-left: 25px;
}

#product .sectionTitle, #product .collapse-title {
    font: normal normal bold 24px/55px var(--base-font-family);
    color: #000;
    margin-top: 3rem;
    position: relative;
}
.comments-collapse {
    display: block;
}
#product .product-description-short.hidden-md-up {
    margin: 3rem 0 0rem;
}
#product .row-product-details {
    display: flex;
}
@media (min-width: 768px) {
    #mobile-describe-features.collapse {
        display: block;
    }
}
@media (max-width: 767px) {
    #product .product-description-short .mobile-describe img {
        display: block;
        width: 100%;
    }
    #product .product-description-short .mobile-describe * {
        max-width: unset !important;
    }
    #product .product-information .product-features {
        margin: 2.5rem 0 2rem;
    }
    #product .collapse-title {
        font-size: 18px;
        margin-top: 0rem;
        border-top: 1px solid #E0E0E0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .collapse-mobile {
        line-height: initial;
        position: absolute;
        width: 100%;
        display: flex;
        height: 100%;
        justify-content: flex-end;
        align-items: center;
    }
    .collapse-mobile .remove {
        display: none;
    }
    .collapse-mobile[aria-expanded="false"] .add {
        display: block;
    }
    .collapse-mobile[aria-expanded="true"] .add {
        display: none;
    }
    .collapse-mobile[aria-expanded="true"] .remove {
        display: block;
    }
}
#product #product-reference {
    font: normal normal normal 13px/22px var(--base-font-family);
    color: #6A6A6A;
}

#product .product-prices {
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    border-top: 1px solid #CECECE;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

#product .product-add-to-cart {
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #CECECE;
}
@media (max-width: 767px) {
    #product .product-add-to-cart {
        border-bottom: unset;
        margin-bottom: 6rem;
        padding-bottom: 0;
    }
    .mobile-blockwishlist-extra {

    }
}
#product .product-prices .moneySave {
    position: static;
    width: 100%;
    margin: 0;
}

#product .current-price {
    font: normal normal 800 35px/35px var(--base-font-family);
    color: #000000;
}

#product .product-discount .regular-price {
    text-decoration: line-through;
    font: normal normal 300 20px/24px var(--base-font-family);
    margin-left: 40px;
    color: #6A6A6A;
}

#product .discount-percentage {
    display: none;
}

.bootstrap-touchspin {
    box-shadow: none;
    position: static;
}

.product-quantity .qty {
    border: 1px solid #BEBEBE;
    border-radius: 24px;
    padding: 0 34px;
    position: relative;
    margin-right: 2rem;
}

.bootstrap-touchspin input.form-control, .bootstrap-touchspin input.input-group {
    border: 0;
    margin: 0;
}

.bootstrap-touchspin .input-group-btn-vertical {
    position: static;
}

.product-quantity .input-group-btn-vertical .btn {
    width: 35px;
    height: 35px;
    position: absolute;
    border: none;
    transform: translate(0px, -50%);
    top: 53%;
    z-index: 2;
    background: transparent;
    padding: 0;
    border-radius: 30px; 
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-quantity .input-group-btn-vertical .btn:hover{
    background: #F5F5F5;
}
.bootstrap-touchspin .input-group-btn-vertical .bootstrap-touchspin-down {
    left: 6px;
}
.bootstrap-touchspin .input-group-btn-vertical .touchspin-down:after {
    font: normal normal 500 25px/1 var(--base-font-family);
    content: "-";
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(0px, 1px);
}
.bootstrap-touchspin .input-group-btn-vertical .bootstrap-touchspin-up {
    right: 6px;
}
.bootstrap-touchspin .input-group-btn-vertical .touchspin-up:after {
    font: normal normal 500 25px/1 var(--base-font-family);
    content: "+";
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-quantity .input-group-btn-vertical .btn i {
    font-size: 30px;
    font-weight: bold;
    position: static;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.product-quantity #quantity_wanted {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    background-color: unset;    
}

.product-variants > .product-variants-item select {
    box-shadow: none;
    outline: none !important;
    max-height: 50px;
}
#product-availability .product-last-items, #product-availability .product-unavailable {
    line-height: 1;
    transform: translate(0px, -3px);
}
.add-to-cart, .add-to-cart.focus, .add-to-cart:focus,
.add-to-cart.active, .add-to-cart:active, .open > .add-to-cart.dropdown-toggle,
.add-to-cart.active.focus, .add-to-cart.active:focus, .add-to-cart.active:hover,
.add-to-cart:active.focus, .add-to-cart:active:focus, .add-to-cart:active:hover,
.open > .add-to-cart.dropdown-toggle.focus, .open > .add-to-cart.dropdown-toggle:focus,
.open > .add-to-cart.dropdown-toggle:hover, .add-to-cart.disabled.focus, .add-to-cart.disabled:focus,
.add-to-cart.disabled:hover, .add-to-cart:disabled.focus, .add-to-cart:disabled:focus,
.add-to-cart:disabled:hover {
    color: #ffffff;
    background-color: #000000;
    border: 2px solid #000000;
    border-radius: 40px;
    letter-spacing: 0.16px;
    outline: none;
    font-style: normal;
    box-shadow: none;
    padding: .625rem;
    text-transform: uppercase;
    width: 100%;
    max-width: 415px;
}
.product-quantity .add {
    width: 100%;
    max-width: 415px;
}
@media (max-width: 991px) {
    #product .product-quantity {
        flex-direction: column;
    }
    #product .product-quantity .qty {
        width: fit-content;
        margin: 0 0 1.5rem 0;
    }
}
.add-to-cart:hover {
    color: #000;
    background-color: #FFF;
    border-color: #000;
}

#product .product-images {
    max-height: 420px
}

#product #product-modal .product-images {
    max-height: unset;
}

#comments .product-comments-additional-info {
    position: static;
    justify-content: left;
    padding: 10px 0;
}

.product-information {
    position: relative;
}

.product-information .product-comments-additional-info {
    position: absolute;
    right: 0;
    top: 38px;
    margin: 0;
    padding: 0;
}

#product-availability,
#delivery-information {
    margin-top: 0;
    margin-bottom: 0;
    font: normal normal normal 14px/40px var(--base-font-family);
    padding-left: 0;
}
@media (max-width: 767px) {
    .row-product-details strong {
        font-weight: 700;
    }
}
.product-cover .layer {
    background: transparent;
}
#productAdditionalLinks img {
    width: 20px;
    max-width: 15px;
}
#productAdditionalLinks {
    max-width: 400px;
}
#productAdditionalLinks a {
    font: normal normal normal 14px/28px var(--base-font-family);
    display: inline-block;
    margin-left: 1rem;
    color:#006CB5;
}

#productAdditionalLinks a:hover {
    color:#006CB5;    
    text-decoration: underline;
}

.product-features dl.data-sheet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.product-features dl.data-sheet dd.value {
    border-bottom: 1px solid #CECECE;
    background: transparent !important;
    font: normal normal normal 14px/28px var(--base-font-family);
    width: 60%;
    flex: initial;
    margin: 0; 
    padding: .625rem;
}

.product-features dl.data-sheet dt.name {
    margin: 0;
    border-bottom: 1px solid #CECECE;
    flex: initial;
    width: 40%;
    padding: .625rem;
    background: transparent !important;
    font: normal normal normal 14px/28px var(--base-font-family);
}

#SohoshopProductMultipleDescriptions,
.product-accessories {
    position: relative;
    margin-bottom: 2rem;
}
.product-accessories .product-accessories-container .products {
    position: relative;
}
.product-accessories .product-accessories-container {
    padding: 10px 0;
}
.sohoshop_productaskContainer,
.sohoshopProductMultipleDescriptionsContainer,
.product-accessories-container {
    position: relative;
    z-index: 1;
}

#sohoshop_productask::before,
#SohoshopProductMultipleDescriptions::before,
.product-accessories .product-accessories-container::before {
    content: "";
    width: calc(100vw - 18px);
    height: 100%;
    background: #F5F5F5;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.product-accessories-item {
    display: inline-flex;
    flex-grow: 1;
    margin: 10px 0;
    padding-right: 10px;
}
#product .product-accessories-item.unavailable-mask p,#product .product-accessories-item.unavailable-mask h3 {
    color: #ACACAC;
}
.unavaible-msg {
    color: #006CB5;
    text-decoration: underline;
    font-size: 13px;
}
.product-accessories-item img {
    margin: 0rem 1.5rem 0rem 0;
}

.product-accessories-item div {
    margin: auto 0;
}

.product-attachments {
    max-width: 900px;
    margin: 4rem auto 7rem;
}
#product #comments {
    margin-bottom: 4rem;
}
.product-accessories .product-title {
    text-align: left;
}

@media (min-width: 768px) {
    #productAdditionalLinks .col-xs-6 {
        display: flex;
    }
    #productAdditionalLinks .col-xs-6 {
        margin-top: 14px;
    }
    #productAdditionalLinks .row:first-of-type {
        display: flex;
        flex-direction: row-reverse;
    }
}

@media (max-width: 767px) {
    .product-accessories .product-title {
        font-size: 16px;
    }
    #productAdditionalLinks .col-xs-6 a {
        margin-left: 0.5rem;
        line-height: 2.5;
    }
    #productAdditionalLinks {
        position: relative;
    }
    .mobile-comparisons-row,.mobile-attachments-row {
        transform: translate(0px, -100%);
        padding-left: 0;
    }
    .mobile-blockwishlist-extra {
        position: absolute;
        transform: translate(0px, -100%);
        top: -70px;
        width: 100%;
        text-align: center;
    }
    .product-attachments {
        margin: 3rem auto 3rem;
    }
    #product .product-accessories-item .product-subtitle {
        height: auto;
    }
    .unavaible-msg {
        display: block;
        margin-top: 1rem;
    }
    #product #comments {
        margin: 3rem 0 2rem;
    }
    #product .product-accessories .sectionTitle {
        font-size: 18px;
        line-height: 1;
        margin-bottom: 2rem;
    }
    #product .product-accessories .sectionTitle.inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 16px;
        margin: 0 auto;
        width: fit-content;
        padding: 1.5rem 1rem;
    }
    .product-accessories.hidden-md-up .collapse-mobile {
        top: 1px;
    }
    .product-accessories.hidden-md-up .collapse-mobile[aria-expanded="false"] .add {
        display: block;
    }
    .product-accessories.hidden-md-up .products.collapse.in + .sectionTitle .add {
        display: none;
    }
    .product-accessories.hidden-md-up .products.collapse + .sectionTitle .remove {
        display: block;
    }
    .product-accessories.hidden-md-up .collapse-mobile.collapsed .remove {
        display: none !important;
    }
    .product-accessories.hidden-md-up .collapse{
        display: none !important;
    }
    .product-accessories.hidden-md-up .collapse.in {
        display: block !important;
    }
    .product-accessories.hidden-md-up .collapse[aria-expanded="true"] + .sectionTitle  .less-accessories, .product-accessories.hidden-md-up .collapsing[aria-expanded="true"] + .sectionTitle  .less-accessories {
        display: block;
    }
    .product-accessories.hidden-md-up .collapse[aria-expanded="false"] + .sectionTitle  .less-accessories,.product-accessories.hidden-md-up .collapsing[aria-expanded="false"] + .sectionTitle  .less-accessories {
        display: none;
    }
    .product-accessories.hidden-md-up .collapse[aria-expanded="true"] + .sectionTitle  .more-accessories,.product-accessories.hidden-md-up .collapsing[aria-expanded="true"] + .sectionTitle  .more-accessories  {
        display: none;
    }
    .product-accessories.hidden-md-up .collapse[aria-expanded="false"] + .sectionTitle  .more-accessories,.product-accessories.hidden-md-up .collapsing[aria-expanded="false"] + .sectionTitle  .more-accessories {
        display: block;
    }
}
@media (max-width: 480px) {
    #productAdditionalLinks .col-xs-6 a {
        font-size: 12px;
    }
}
.attachments {
    display: flex;
    justify-content: space-between;
}
.attachments li a {
    font-size: 14px;
    color: #006CB5;
}
.attachments li a img {
    margin-right: 10px;
}
.attachments li {
    margin-bottom: 1rem;
}
@media (max-width: 767px) {
    .attachments {
        display: block;
    }
    .collapse {
        display: none;
    }
}
#comments {
    max-width: 630px;
    margin: auto;
    text-align: center;
}

#comments .sectionTitle {
    text-align: left;
}

#product-comments-list-header {
    margin-bottom: 16px;
    padding: 0 15px;
}
@media (max-width: 767px) {
    #comments {
        max-width: 100%;
    }
    #product-comments-list-header {
        display: flex;
        flex-direction: column;
    }
    #product-comments-list-header .comments-rate {
        margin-bottom: 12px;
    }
}
#product-comments-list {
    margin-top: 16px;
}

.product-comment-list-item .comment-infos {
    color: #000;
}

#product-comments-list-header .comments-nb {
    padding-left: 0;
    padding-top: 3px;
    display: inline;
    font: normal normal normal 13px/20px var(--base-font-family)
}

#comments .grade-stars {
    bottom: -4px;
    min-width: 95px;
    margin: 0;
}

.product-comment-list-item {
    background: #F5F5F5;
    display: flex;
    padding: 16px;
    justify-content: space-between;
    padding: 16px 16px 0;
   
}
.product-comment-list-item:last-of-type {
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, 
    from(rgba(0,0,0,1)), to(rgba(0,0,0,0))); 
    mask-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

#empty-product-comment {
    background: #fff;
    -webkit-mask-image: none;    
    mask-image: none; 
}

.comment-author {
    font: normal normal bold 18px/22px var(--base-font-family);
    color: #000000;
    text-transform: uppercase;
}

.comment-content {
    margin: 0;
    width: 60%;
}

.sohoshopProductMultipleDescriptionsContainer {
    font: normal normal normal 14px/20px var(--base-font-family);
    color: #6A6A6A;
    padding-bottom: 70px;
    padding-top: 1rem;
    margin-top: 4rem;
}

#SohoshopProductMultipleDescriptions .border-radius {
    border: 4px solid #FFFFFF;
    border-radius: 50%;
}

#SohoshopProductMultipleDescriptions img {
    width: 108px;
    height: 108px;
    padding: 24px;

}

#sohoshop_blockstores {
    margin: 0 8rem;
}

#sohoshop_blockstores h3 {
    margin: 20px 0 40px 0;
    font: normal normal bold 16px/22px var(--base-font-family);
}

#sohoshop_blockstores .map-pin {
    display: block;
    float: left;
    margin-bottom: 100px;
    margin-right: 1.5rem;
}

#sohoshop_blockstores a.btn {
    padding: 18px 60px;
    margin-top: 30px;
    text-transform: uppercase;
    font: normal normal 500 16px/19px var(--base-font-family);
}

#sohoshop_productask {
    max-width: 890px;
    margin: 100px auto;
    background: #F5F5F5;
    position: relative;
    margin-bottom: 2rem;
}

#sohoshop_productask .sectionTitle {
    margin-top: 0;
    padding: 3rem 0;
}

#sohoshop_productask .btn-primary {
    font: normal normal 600 16px/19px var(--base-font-family);
    margin: 40px;
    text-transform: uppercase;
    padding: 18px 120px;
}
@media (max-width: 767px) {
    #sohoshop_productask .btn-primary {
        margin: 40px 0;
        padding: 16px 0px;
        width: 100%;
    }
    .product-comment-list-item .comment-infos {
        min-height: unset;
        height: auto;
    }
    #product .comment-content {
        width: 100%;
        margin-top: 18px;
    }
}
#productPosts .title_blog {
    font: normal normal bold 34px var(--base-font-family);
    text-align: center;
    text-transform: none;
    color: #000;
    margin-bottom: 2.5rem;
}
@media (max-width: 767px) {
    #productPosts .title_blog {
        font-size: 30px;
    }
}
#productPosts .ybc-blog-related-posts.on_product {
    box-shadow: none;
    -webkit-box-shadow: none;
    border: none;
    margin-top: 0;
    padding-top: 0;
    padding: 0;
}

#productPosts .ybc_title_block {
    font: normal normal normal 20px/22px var(--base-font-family) !important;
    display: block;
    width: 100%;
    padding: 20px 0 20px 5px;
    margin: 0;
}

#productPosts a.btn {
    padding: 15px 60px;
    text-transform: uppercase;
    margin-left: 5px;
    font: normal normal 600 16px/19px var(--base-font-family);
}

#storeLocator {
    max-width: 1000px;
    margin: 20px auto;
}

#storeLocator .page-heading {
    text-align: center;
    text-transform: none;
    font: normal normal bold 24px/55px var(--base-font-family);;
    margin: 60px 0 0 0;
    text-align: left;    
}

#storeLocator .store_desc{
    color: #000 !important;
    text-align: center !important;
    font: normal normal normal 18px/24px var(--base-font-family);
    text-align: left !important;    
    margin-top: 0;
    margin-bottom: 40px;
}    

#storeLocator .mapcontainer {
    justify-content: flex-start;
}

#storeLocator .map_header form {
    width: 100%;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;    
}

#storeLocator #searchForm input[type='text'] {
    width: 100%;
    border: 0;
    border-radius: 50px;
    background-color: #F5F5F5;
    text-align: left;
    font: normal normal normal 14px/17px var(--base-font-family);
    letter-spacing: 0px;
    color: #3E3E3E;
    height: auto;
    padding: 16px;
    outline: none;
}

#storeLocator #searchForm button[type='submit'] {
    margin-top: 16px;
    padding: 16px;
    font: normal normal 600 16px/19px var(--base-font-family);;
    color: #000000;
    text-transform: uppercase;
    background: #fff;     
}

#storeLocator #searchForm button[type='submit']:hover {
    color: #fff;
}

#storeLocator #map {
    height: 400px !important;
}
.product-information .product-comments-additional-info .comments-nb{
    color: #006CB5;
    font-size: 13px;
    padding-top: 3px;    
}
.comments-percent{
    font: normal normal normal 13px/19px var(--base-font-family);  
}
.comments-percent strong{
    font: normal normal bold 22px/19px var(--base-font-family);
}
.comments-productName{
    margin-top: 40px;
    font: normal normal normal 16px/32px var(--base-font-family);
    text-align: left;
}
@media (max-width: 767px) {
    .comments-productName {
        margin-bottom: 20px;
    }
}
.comments-productName strong{
    font: normal normal bold 24px/32px var(--base-font-family);  
}
.btn.post-product-comment{
    padding: 16px 56px;
    margin-top: 50px;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.comments-rate strong{
    font: normal normal bold 24px/20px var(--base-font-family);  
}
.comment-grade{
    float:left;
    font: normal normal normal 16px/20px var(--base-font-family);
    margin-top: 7px;
    margin-right: 24px;    
}
.comment-grade strong{
    font: normal normal bold 16px/20px var(--base-font-family);   
}

#product .w_salonie .section-title{
    text-align: center;
    font: normal normal bold 24px var(--base-font-family);   
    margin-bottom: 40px;
    font-weight: 900;
    padding-top: 1rem;
    
}
@media (max-width: 767px) {
    #product .w_salonie .section-title {
        border-top: 1px solid #E0E0E0;
        font-size: 18px;
    }   
}
#product .w_salonie .w_salonie-salony{
    width: 100%;
    margin-left: auto;
    position: relative;
}
@media (max-width: 767px) {
    #product .w_salonie .w_salonie-salony {
        display: flex;
        flex-direction: column;
    }
    #product .w_salonie .w_salonie-salony:nth-of-type(2) {
        -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    }
}
#product .w_salonie .w_salonie-salony h2{
    font: normal normal bold 16px var(--base-font-family);  
    text-transform: uppercase;    
    margin-bottom: 40px;    
}
#product .w_salonie .w_salonie-salony img{
    position: absolute;
    left: 0;
}
#product .w_salonie .w_salonie-salony .next-arrow{
    left: 90%;
}
@media (max-width: 767px) {
    #product .w_salonie .w_salonie-salony .next-arrow{
        top: 50%;
    }
}
#product .w_salonie .w_salonie-salony address{
    float:left;
    padding-left: 44px;
    position: relative; 
}
#product .w_salonie .w_salonie-salony address a{
    color:#006CB5 !important;
}
#product .w_salonie .w_salonie-salony .w_salonie-salony-godziny{
    float:left;
    padding-left: 44px;    
}
@media (max-width: 767px) {
    #product .w_salonie .w_salonie-salony .w_salonie-salony-godziny,#product .w_salonie .w_salonie-salony address {
        font-size: 14px;
    }
}
#product .w_salonie hr{
    margin:20px auto;
    width: 100%;
}
#product .w_salonie {
    max-width: 900px;
    margin: auto;
}
#product .w_salonie .btn{
    font: normal normal 600 16px/19px var(--base-font-family);
    margin: 40px auto 0;
    text-transform: uppercase;
    padding: 18px 120px;
}
@media (max-width: 767px) {
    #product .w_salonie .btn {
        padding: 18px 0px;
        width: 100%;
        max-width: 400px;
    }
}
.product-back-breadcrumb {
    font-size: 12px;
    margin-top: 1rem;
    display: block;
}
#product .product-variants {
    display: flex;
    flex-wrap: wrap;
}
.product-variants>.product-variants-item {
    margin: 1.25rem 1rem 0px 0;
}
#block-reassurance-2 {
    position: relative;
    padding: 42px 0;
}
@media (max-width: 991px) {
    .block-reassurance-items {
        width: fit-content;
        margin: auto;
        flex-direction: column;
    }
}
#block-reassurance-2::before {
    content: "";
    width: calc(100vw - 18px);
    height: 100%;
    background: #F5F5F5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
@media (max-width: 767px) {
    #block-reassurance-2 {
        padding: 32px 0;
    }
}
.block-reassurance-header {
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 0.24px;
    position: relative;
    text-align: center;
}
.block-reassurance-semiheader {
    text-align: center;
    position: relative;
}
@media (max-width: 767px) {
    .block-reassurance-header {
        font-size: 18px;
    }
}
.block-reassurance-items {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
}
.block-reassurance-text p {
    color: #6A6A6A;
    font-size: 14px;
    line-height: 20px;
}
.block-reassurance-item {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
/* #product-modal .modal-content .modal-body .thumbnails {
    height: fit-content;
}
#product-modal .modal-content .modal-body .arrows .arrow-down {
    bottom: -4.2rem;
} */
@media (max-width: 991px) {
    .block-reassurance-item {
        width: auto;
    }
}
.block-reassurance-img {
    min-width: 108px;
    min-height: 108px;
    margin-right: 20px;
    border: 4px solid #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.reassurance-img {
    width: auto;
    max-width: 50px;
}
#product .product-description {
    margin-top: 1rem;
}
#product .product-description img {
    object-fit: contain;
    max-width: 100%;
    display: block;
    margin: auto;
    height: auto;
}
@media (max-width: 991px) {
    #product .select::after {
        top: 0;
    }
}
#product .featured-products {
    margin: 5.5rem 0 6rem !important;
}
#product .featured-products .products-section-title {
    margin-bottom: 2.5rem;
}
@media (max-width: 991px) {
    #product .featured-products {
        margin:  3rem 0 2.5rem !important;
    }
}
@media (max-width: 992px) {
    #product .ybc-blog-related-posts-list > li {
        padding: 0 8px 0 0;
    }
}
#product ul.ybc-blog-related-posts-list {
    padding-bottom: 30px;
    margin-left: 0;
}
#product .images-container .swiper-scrollbar {
    display: none;
}
.product-manufacturer .img-thumbnail {
    height: 24px;
    border: unset;
    padding: 0;
    margin-right: 40px;
}
#product-modal .modal-content .modal-body .arrows .arrow-down {
    bottom: -4rem;
}
.product-actions .add-to-cart {
    font-weight: 500;
}
@media (max-width: 767px) {
    #product .images-container .swiper-scrollbar {
        display: block;
        max-width: 420px;
        left: 0;
        right: 0;
        margin: auto;
    }
    .product-manufacturer .img-thumbnail {
        margin-right: 0;
    }
    #product .product-manufacturer {
        position: absolute;
        right: 0;
        top: 70px;
    }
    #productPosts > .col-xs-12 {
        padding: 0;
    }
    .qty-wrapper-mobile {
        display: flex;
        align-items: flex-end;
    }
    #product .product-prices {
        border-top: unset;
        margin-top: 0;
        padding-top: 0;
    }
    #product .current-price {
        font-size: 30px;
    }
    #product .product-discount .regular-price {
        margin-left: 12px;
        margin-right: 0;
        font-size: 16px;
    }
    #product .product-quantity .qty,#product .current-price,.product-prices div {
        line-height: 1.5;
        margin-bottom: 0;
    }
    #product .product-quantity .add {
        margin-top: 1rem;
    }
    .product_prices_block.hidden-md-up {
        margin-left: 10px;
        width: fit-content;
        position: relative;
    }
    #product .product-prices .moneySave {
        line-height: 14px;
        width: fit-content;
        position: absolute;
        right: 6px;
        text-align: left;
    }
    #product .product-quantity .qty {
        max-width: 110px;
        width: 100%;
        padding: 0px 24px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #product .product-prices .moneySave strong {
        display: block;
    }
    .product-information .product-comments-additional-info {
        position: static;
        justify-content: flex-start;
    }
    .product-information .product-comments-additional-info .comments-nb {
        font-size: 14px;
    }
    #product .product-flags {
        display: flex;
        flex-direction: column;
        
    }
    #product .product-container-left .product-flags {
        max-width: 420px;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 2;
        top: 26px;
    }
    #product .product-flag  {
        font-size: 13px !important;     
    }
    #product .product-container-left .product-flags .product-flag {
        font-size: 11px !important;
    }
    #empty-product-comment .btn.post-product-comment {
        padding: 16px;
        margin: auto;
        text-transform: none;
    }
    #empty-product-comment {
        padding: 0;
    }
    .product-comment-list-item {
        flex-direction: column;
    }
}
@media (max-width: 480px) {
    #product .current-price {
        font-size: 25px;
    }
    #empty-product-comment .btn.post-product-comment {
        font-size: 12px;
    }
    #empty-product-comment .btn.post-product-comment i {
        font-size: 14px;
        margin-right: 1px;
    }
    #product .product-prices {
        display: flex;
        flex-direction: column-reverse;
    }
    #product .product-prices .product-discount {
        width: 100%;
        text-align: right;
    }
    .product_prices_block.hidden-md-up {
        width: 100%;
    }
    #product .product-prices .moneySave {
        left: 0;
        right: unset;
        top: 0;
    }
    #product .current-price {
        width: 100%;
        text-align: right;
    }
}
#product .ybc_item_img img {
    min-height: 420px;
    max-height: 420px;
    object-fit: cover;
}