#projectwithus{
    line-height: normal;
}
#projectwithus .flexbox{
    display: flex;
    justify-content: center;
}

#projectwithus .diff-size{
    height: 450px;
    width: 100%;
}

#projectwithus .project-header{
    margin: 0;
}

#projectwithus .diff-size .col-md-5{
    width: 40%;
    height: 100%;
    padding: 0;
}

#projectwithus .diff-size .col-md-3{
    width: 20%;
    height: 100%;
    padding: 0;
}

#projectwithus .row .left-side{
    background-color: #006CB5;
}

#projectwithus .row .left-side .title{
    font: normal normal bold 34px/42px var(--base-font-family);
    color: #fff;
    margin-top: 70px;
}

#projectwithus .row .left-side .desc{
    font-size: 16px;
    font-family: 'Gotham';
    font-weight: 400;
    opacity: .8;
    color: #fff;
    text-align: center;
    margin-top: 30px;
}

#projectwithus .row .left-side .bot-desc{
    font-size: 16px;
    font-family: 'Gotham';
    font-weight: 500;
    opacity: 1;
    color: #fff;
    text-align: center;
    margin-top: 100px;
    line-height: 1.5;
    letter-spacing: 0.3px;
}

#projectwithus .row .col-md-3 img{
    height: 100%;
    width: 100%;
}

#projectwithus .content-grey{
    margin: 0;
    padding-top: 50px;
    padding-bottom: 100px;
    background-color: #F5F5F5;
    width: 100%;
}

#projectwithus .content-grey .grey-title{
    font-size: 34px;
    font-family: 'Gotham';
    font-weight: 300;
    opacity: 1;
    color: #000;
    text-align: center;
}

#projectwithus .content-grey .grey-grid{
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 50px;
}

#projectwithus .content-grey .grey-grid .mb{
    margin-bottom: 10px !important;
}

#projectwithus .content-grey .margin-top-buttons{
    margin-top: 30px !important;
}

#projectwithus .content-grey .margin-top-buttons .btn-primary{
    background-color: rgba(255, 255, 255, 0) ;
}

#projectwithus .content-grey .grey-grid .flexbox-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

#projectwithus .content-grey .grey-grid span.number{
    font-family: 'Gotham';
    font-weight: bold;
    font-size: 18px;
    color: #006CB5;
    margin-right: 10px;
}

#projectwithus .content-grey .grey-grid .btn-primary{
    font-family: 'Gotham';
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
}

#projectwithus .content-grey .grey-grid .btn-primary:hover{
    color: #000;
}

#projectwithus .content-grey .grey-grid .grey-img-wrapper{
    height: 150px;
    width: 150px;
    margin-left: 10px;
    padding: 20px;
    border: 4px solid #FFFFFF;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

#projectwithus .content-grey .grey-grid img.grey-svg{
    height: 100px;
    width: 100px;
}

#projectwithus .content-grey .grey-grid .desc{
    font-size: 14px;
    font-family: 'Gotham';
    font-weight: 400;
    opacity: 1;
    color: #000;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

#projectwithus .own-project .title-own{
    text-align: center;
    font-size: 30px;
    font-family: 'Gotham';
    font-weight: bold;
    opacity: 1;
    color: #000;
    margin-bottom: 50px;
    margin-top: 50px;
}

#projectwithus .own-project .flex-middle{
    display: flex;
    justify-content: center;

}

#projectwithus .own-project .parent{
    float: right;
}

#projectwithus .own-project .flex-middle img{
    margin-right: 20px;
}

#projectwithus .own-project .flex-middle .text-top{
    margin-bottom: 10px;
    text-align: left;
    font-size: 16px;
    font-family: 'Gotham';
    font-weight: 400;
    opacity: 1;
    color: #000;

}

#projectwithus .own-project .flex-middle .text-bottom{
    text-align: left;
    font-size: 12px;
    font-family: 'Gotham';
    font-weight: 400;
    opacity: .8;
    color: #000;

}

#projectwithus .own-project .flex-middle .left{
    margin-right: 70px;
}

#projectwithus .app-project{
    margin-top: 100px;
}

#projectwithus .app-project .col-md-5{
    margin-top: 100px;
}

#projectwithus .app-project .col-md-7 img{
    height:550px;
    width: 100%;
}

#projectwithus .app-project span.title{
    text-align: center;
    font-size: 42px;
    line-height: 1;
    font-family: 'Gotham';
    font-weight: bold;
    opacity: 1;
    color: #006CB5;
}

#projectwithus .app-project .desc-app{
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    word-spacing: 3px;
    font-family: 'Gotham';
    font-weight: 400;
    opacity: 1;
    margin-top: 20px;
    margin-bottom: 20px;
}

#projectwithus .app-project .btn-primary{
    background-color: #000;
    color: #fff;
    border: 2px solid white;
    width: 50%;
    text-transform: uppercase;
    font-family: 'Gotham';
    font-size: 16px;
    font-weight: 500;
    width: 300px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#projectwithus .app-project .btn-primary:hover{
    background-color: #fff;
    color: #000;
    border: 2px solid black;
}

#projectwithus .inspire-posts{
    margin-top: 100px;
}

#projectwithus .inspire-posts .title-top{
    text-align: center;
    font-size: 42px;
    line-height: 1;
    font-family: 'Gotham';
    font-weight: bold;
    opacity: 1;
    margin-bottom: 10px;
}

#projectwithus .inspire-posts .title-bottom{
    text-align: center;
    font-size: 18px;
    line-height: 1;
    font-family: 'Gotham';
    font-weight: 400;
    opacity: 1;
    margin-bottom: 20px;
}

#projectwithus .inspire-posts a.change-content{
    width: 20%;
}

#projectwithus .news-help a.change-content{
    width: 20%;
}

#projectwithus .inspire-posts a.change-content span.non-hovered, #projectwithus .news-help a.change-content span.non-hovered{
    display: block;
   
}

#projectwithus .inspire-posts a.change-content span.hovered, #projectwithus .news-help a.change-content span.hovered{
    display: none;
}

#projectwithus .inspire-posts a.change-content:hover span.non-hovered, #projectwithus .news-help a.change-content:hover span.non-hovered{
    display: none;
}

#projectwithus .inspire-posts a.change-content:hover span.hovered, #projectwithus .news-help a.change-content:hover span.hovered{
    display: block;
}

#projectwithus .inspire-posts .inspire-row-grid{
    height: 800px;
    margin-top: 50px;
    margin-bottom: 100px;
}

#projectwithus .inspire-posts .inspire-row-grid .col-md-6{
    height: 600px;
}

#projectwithus .inspire-posts .inspire-row-grid img.inspire-image{
    width: 100%;
    height: 100%;
    object-fit:cover;
    background-color: grey;
}

#projectwithus .inspire-posts .inspire-row-grid .title{
    text-align: left;
    font-family: 'Gotham';
    font-weight: 300;
    font-size: 30px;
    color: #000000;
    opacity: 1;
    margin-top: 20px;
    margin-bottom: 20px;
}

#projectwithus .inspire-posts .inspire-row-grid .desc p{
    text-align: left;
    font-family: "Gotham";
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    
}

#projectwithus .news-help{
    margin-top: 200px;
}

#projectwithus .news-help .title-top{
    text-align: center;
    font-size: 42px;
    line-height: 1;
    font-family: 'Gotham';
    font-weight: bold;
    opacity: 1;
    margin-bottom: 10px;
}

#projectwithus .news-help .title-bottom{
    text-align: center;
    font-size: 18px;
    line-height: 1;
    font-family: 'Gotham';
    font-weight: 400;
    opacity: 1;
    margin-bottom: 20px;
}



#projectwithus .news-help .news-help-grid{
    height: 400px;
    margin-top: 50px;
    margin-bottom: 200px;
}

#projectwithus .news-help .news-help-grid .col-md-4{
    height: 100%;
}

#projectwithus .news-help .news-help-grid img.help-image{
    width: 100%;
    height: 100%;
    object-fit:cover;
    background-color: grey;
}

#projectwithus .news-help .news-help-grid .title{
    text-align: left;
    font-family: 'Gotham';
    font-weight: 300;
    font-style: normal;
    font-size: 30px;
    color: #000000;
    opacity: 1;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 50px;
    line-height: 1;
}

#projectwithus .news-help .news-help-grid .desc p{
    text-align: left;
    font-family: "Gotham";
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

#projectwithus .stores-project .store-title{
    text-align: center;
    font-family: "Gotham";
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

#projectwithus .stores-project{
    margin-top: 400px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

#projectwithus .stores-project .overflow::-webkit-scrollbar{
    width: 9px;
}

#projectwithus .stores-project .overflow::-webkit-scrollbar-thumb{
    background: #D8D8D8 0% 0% no-repeat padding-box;
    border-radius: 8px;
    opacity: 1;
}

#projectwithus .stores-project .overflow::-webkit-scrollbar-track{
    background: #EFEFEF 0% 0% no-repeat padding-box;
    border-radius: 8px;
    opacity: 1;
}

#projectwithus .stores-project .overflow{
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 50px;
    height: 750px;
}

#projectwithus .stores-project .overflow .salon-thumb{
    height: 250px;
    padding: 30px 0px 0px 20px;
    text-align: left;
    font-family: 'Gotham';
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

#projectwithus .stores-project .overflow .next-thumb{
    border-top: 1px solid grey;
}

#projectwithus .stores-project .overflow .salon-thumb a{
    color:#006CB5;
}

#projectwithus .stores-project .salon-thumb span.title{
    text-align: left;
    font-family: 'Gotham';
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0px;
    color: #000000;
    text-transform: uppercase;
    opacity: 1;
}

#projectwithus .stores-project .overflow .email-store{
    text-align: left;
}

#projectwithus .stores-project .custom-width button{
    width: 100%;
    margin-right: 30px;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Gotham';

}

#projectwithus .stores-project .overflow .enter-arrow{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16px;
    width: 12px;
    padding: 20px;
    border-radius: 36px;
    background-color: transparent;
    border: 1px solid #AFAFAF;
    
}

#projectwithus .stores-project .overflow .enter-arrow img{
    height: 16px;
    width: 12px;
    
}

