.ui-autocomplete.ui-front.ui-menu {
    background-color: #fff;
    width: 100% !important;
    max-width: 400px;
    border-radius: unset;
    /* display: block !important; */
    left: 0 !important;
    right: 0 !important;
    margin: auto;
    transform: translate(20%, 0px);
}
.ui-autocomplete.ui-front.ui-menu.cookie_history_ul {
    transform: translate(-7%, 0px);
}

@media (max-width: 1200px) {
    .ui-autocomplete.ui-front.ui-menu {
        left: unset !important;
        right: 0 !important;
        margin: auto;
        transform: translate(0%, 0px);
    }
    .ui-autocomplete.ui-front.ui-menu.cookie_history_ul {
        right: 0 !important;
        left: unset !important;
    }
} 

@media (max-width: 767px) {
    .ui-autocomplete.ui-front.ui-menu {
        transform: translate(0%, 0px);
    }
    .ui-autocomplete.ui-front.ui-menu.cookie_history_ul,.ui-autocomplete.ui-front.ui-menu {
        transform: translate(0%, 0px);
        right: 0 !important;
        left: 0 !important;
    }
}
.ui-autocomplete.ui-front.ui-menu li {
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
}
.ui-autocomplete.ui-front.ui-menu .header-search-list {
    padding: 25px 5px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    line-height: 1;
}
@media (max-width: 767px) {
    .ui-autocomplete.ui-front.ui-menu .header-search-list {
        padding: 25px 8px;
    }
}
.ui-menu .ui-menu-item a {
    display: flex;
}
.ui-menu .ui-menu-item a.ui-state-focus {
    background: #fff;
    box-shadow: unset;
    border: unset;
    margin: 0;
}
.ui-front.ui-menu .ui-menu-item a img {
    max-width: 90px;
    border: 1px solid #F0F0F0;
    height: fit-content;
}
.ui-search-wrapper .title-search-product {
    font-weight: 600;
}   
.ui-search-wrapper span{
    font-size: 14px;
    font-family: 'Gotham', sans-serif;
    line-height: 22px;
}
.ui-search-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.ui-autocomplete .header-search-list .ui-search-header .header-search {
    font-size: 16px;
    font-weight: 600;
    font-family: 'Gotham', sans-serif;
    padding: 10px;
}
.ui-autocomplete .header-search-list .ui-search-header .ui-search-delete-cookie {
    font-size: 12px;
    text-decoration: underline;
    cursor: pointer;
    padding-left: 30px;
}
.ui-autocomplete {
    height: 550px;
}
.scrollbot-scrollbar-holder {
    right: 15px !important;
    margin-top: 70px;
    height: 85% !important;
}
.delete-search-icon {
    position: absolute;
    right: 70px;
    bottom: 10px;
    font-size: 28px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
}
.hidden-index {
    z-index: -1;
    opacity: 0;
}
.scrollbot-outer-parent {
    padding-top: 80px !important;
    background: #fff;
}
.category-search-container {
    position: absolute;
    left: 1px;
    top: 0;
    height: 100%;
    max-width: 250px;
    width: 100%;
    background-color: #fff;
    transform: translate(-100%, 0px);
    z-index: 10;
    padding-left: 20px;
}
@media (max-width: 767px) {
    .category-search-container {
        position: static;
        height: auto;
        max-width: unset;
        transform:unset;
        padding-left: 8px;
    }
}
.ui-autocomplete.ui-front.ui-menu .category-search-container .header-search-list {
    position: static;
    padding-left: 0;
}
.category-search-container .category-search-list {
    display: flex;
    flex-wrap: wrap;
    max-width: 200px;
}
.category-search-container .category-search-list a {
    line-height: 1;
    padding: 0 8px 8px 0;
    font-size: 14px;
    text-decoration: underline;
}
@media (max-width: 991px) {}   