body#module-sohoshop_services-services #wrapper .container{
    width: 100%;
    
}

#services{
    margin-top: 50px;
    margin-left: -15px;
    margin-right: -15px;
}

#services .flexbox{
    display: flex;
    justify-content: center;
}

#services .flexbox.spacing {
    padding-bottom: 2rem;
}

#services .banner {
    height: 400px;
    width: 100%;
    background: url("../img/services-banner.png");
    background-size: cover;
    background-position: center;
    margin: 0;
}
@media (max-width: 768px) {
    #services .banner {
        height:auto;
        height: auto;
        padding: 70px 0;
    }
}
#services .title{
    padding-top: 100px;
    text-align: center;
    font: normal normal bold 38px/46px var(--base-font-family);
    letter-spacing: 0px;
    color: #006CB5;
    opacity: 1;
}

#services .middle-text{
    margin-top: 47px;
    text-align: center;
    font: normal normal bold 20px/28px var(--base-font-family);
    letter-spacing: 0px;
    color: #006CB5;
    opacity: 1;
}

#services .bottom-text{
    margin-top: 28px;
    text-align: center;
    font: normal normal normal 16px/28px var(--base-font-family);
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

#services .bottom-title{
    padding-top: 48px;
    text-align: center;
    font: normal normal 300 34px/41px var(--base-font-family);
    letter-spacing: 0.34px;
    color: #000000;
    opacity: 1;
}

#services .background-grid{
    background: #F5F5F5 0% 0% no-repeat padding-box;
    height: 100%;
}

#services .grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 80%;
    margin: 40px auto;
    text-align: center;
    font: normal normal normal 16px/20px var(--base-font-family);
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    padding-bottom: 50px;
}
#services .grid .col-lg-3 {
    margin-bottom: 50px;
}
@media (max-width: 768px) {
    #services .grid {
        max-width: 100%;
        margin-top: 0;
    }
    #services .grid .col-lg-3 {
        margin-bottom: 35px;
    }
}
#services .no-margin{
    margin-bottom: 0 !important;
    padding-bottom: 70px;
}

#services .grid .img {
    border: 4px solid #FFFFFF;
}

body#module-sohoshop_services-services #footer{
    padding-top: 0;
}
.services-mobile-title {
    display: none;
}
@media only screen and (min-width: 769px) {
    #services .bottom-text-mobile, #services .bottom-title-mobile, body#module-sohoshop_services-services .mobile-contact-us-return{
        display: none;
    }

    
}
#module-sohoshop_services-services .product-back-breadcrumb {
    display: none;
}
@media only screen and (max-width: 768px) {
    #services{
        margin-top: 0px;
    }
    #module-sohoshop_services-services .product-back-breadcrumb {
        display: block;
    }
    body#module-sohoshop_services-services .mobile-contact-us-return{
        text-align: left;
        font: normal normal normal 12px/16px var(--base-font-family);
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
    }

    body#module-sohoshop_services-services .services-mobile-title{
        font: bold 20px/24px var(--base-font-family);
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
        margin: 20px 0;
        display: block;
    }

    #services .title{
        display:none;
    }

    #services .middle-text{
        padding: 0 15px 0;
        margin-top: 0px;

    }

    #services .bottom-text{
        display: none;
    }

    #services .bottom-text-mobile{
        margin-top: 50px;
        text-align: center;
        font: normal normal normal 16px/28px var(--base-font-family);
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
        padding: 0 15px;
    }

    #services .bottom-title {
        display: none;
    }

    #services .bottom-title-mobile{
        text-align: center;
        font: normal normal 300 34px/41px var(--base-font-family);
        letter-spacing: 0.34px;
        color: #000000;
        opacity: 1;
        padding: 50px 15px 50px;
    }

}