#image-images-thumbnails{
    width: fit-content;
    position: relative;
}
#image-images-thumbnails img {
    width: 100%;
}
.sohonewspapergazetki .imgmc.marker {
    position: absolute;
    z-index: 2;
}

/* CSS MARKERÓW */

.marker {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    color: #EFA2CA;
    text-align: center;
    position: absolute;
    border: 1px solid #E2E2E2;    
}
.marker-input{
    width: 300px
}

.drop_marker{
    width: 50px;
    height: 30px;
    border-radius: 50%;
    background: #fff;
    color: #EFA2CA;
    text-align: center;
    position: absolute;
    line-height: 30px;
}