#module-sohonewspaper-single #wrapper .breadcrumb {
    margin-bottom: 8px;
}
.soho-single-newspaper {
    text-align: center;

}
.header-single-newspaper {
    font-size: 38px;
    margin-bottom: 30px;
}
@media (max-width: 991px) {
    .header-single-newspaper {
        font-size: 24px;
    }
}
.newspaper-img-container img {
    max-width: 100%;
    margin-bottom: 30px;
}
.newspaper-img-container {
    display: inline-block;
    justify-content: center;
    position: relative;
}
.single-newspaper-img-container {
    display: flex;
    justify-content: center;
}
.content-single-newspaper-img {
    overflow: hidden;
}