#module-sohonewspaper-paper .breadcrumb {
    margin-bottom: 8px;
}
.sohonewspaper {
    padding: 0;
    display: flex;
    flex-direction: column;
}
.sohonewspaper img {
    max-width: 100%;
}
.sohonewspaper-header {
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 30px;
}
@media (max-width: 991px) {
    .sohonewspaper-header {
        font-size: 24px;
    }
}
.newspaper_arrow {
    fill: none;
    stroke: #000;
    stroke-miterlimit: 10;
    stroke-width: 1.5px;
    position: relative;
    transform: rotate(-90deg);
    margin-left: 10px;
}
.sohonewspaper .papers-item  {
    margin-bottom: 60px;
}
.sohonewspaper .pappers-header {
    font-size: 34px;
    font-weight: 300;
    margin-bottom: 19px;
    padding: 0 15px;
}
.papers-item .papers-item-href {
    display: flex;
    flex-direction: column;
}
.sohonewspaper .newspaper_btn {
    font-size: 16px;
    text-transform: uppercase;
    width: fit-content;
    margin: 30px auto 0;
    border: solid 2px #006CB5;
    background-color: #fff;
    width: auto;
    transition: 0.3s;
    padding: 1rem 4rem;
    border-radius: 50rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 991px) {
    .sohonewspaper .newspaper_btn {
        padding: .7rem 2.5rem;
    }
}
.sohonewspaper .newspaper_btn:hover {
    border: solid 2px #000;
    background-color: #000;
    color: #fff;
}
.sohonewspaper .newspaper_btn:hover .newspaper_arrow {
    stroke: #fff;
}
.catalogs-list-container:after {
    content: "";
    display: table;
    clear: both;
}
.sohonewspaper-banners .pappers-header {
    padding: 0;
}
.pappers-footer-item {
    margin-bottom: 30px;
    position: relative;
    height: 160px;
    background-position: center right;
    background-size: cover;
    background-repeat: no-repeat;
}
@media (max-width: 991px) {
    .pappers-footer-item {
        margin-bottom: 20px;
        background-position-x: right;
        background-position-y: -12px;
        background-size: cover;
    }
    .pappers-footer-item {
        height: 290px;
    }
}
.pappers-footer-item {
    position: relative;
}
.pappers-footer-content {
    position: absolute;
    top: 0;
    width: 80%;
    margin: auto;
    left: 50%;
    transform: translate(-55%, 0px);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
@media (max-width: 991px) {
    .pappers-footer-content {
        flex-direction: column;
        justify-content: center;
        transform: translate(-50%, 0px);
    }
}
.sohonewspaper-banners .pappers-footer-btn {
    color: #fff;
    background-color: transparent;
    text-transform: uppercase;
    border: 2px solid #FFFFFF;
    border-radius: 50rem;
    transition: 0.3s;
}
@media (max-width: 991px) {
    .sohonewspaper-banners .pappers-footer-btn {
        margin-top: 40px;
    }
}
.sohonewspaper-banners .pappers-footer-btn svg {
    stroke: #fff;
}
.sohonewspaper-banners .pappers-footer-btn:hover {
    border: 2px solid #000;
    background-color: #000;
}
.pappers-footer-text h1,.pappers-footer-text h2,.pappers-footer-text h3,.pappers-footer-text h4,.pappers-footer-text h5,.pappers-footer-text h6 {
    font-size: 50px;
    color: #fff;
    font-weight: 400;
    margin-bottom: 16px;
}
.pappers-footer-text p {
    line-height: 1;
    color: #fff;
    text-align: center;
    margin: 0;
    font-size: 18px;
}
@media (max-width: 991px) {
    .pappers-footer-text h1,.pappers-footer-text h2,.pappers-footer-text h3,.pappers-footer-text h4,.pappers-footer-text h5,.pappers-footer-text h6 {
        font-size: 35px;
        text-align: center;
    }
    .pappers-footer-text p {
        font-size: 14px;
    }
}