#pappers-top {
    position: relative;
    display: flex;
    align-items: center;
}   
#pappers-top img {
    max-width: 100%;
}
.papaers-top-content {
    background-color: #fff;
    width: 50vw;
    position: absolute;
    z-index: 10;
    padding: 30px 15px;
    max-width: 670px;
    transform: translate(-50%, 0px);
    top: 27px;
}
@media (max-width: 1200px) {
    .papaers-top-content {
        transform: translate(-30%, 0px);
    }
}
.papaers-top-content .card-body {
    border:unset;
    display: flex;
}
.papaers-top-content::after {
    content:'';
    position: absolute;
}
.pappers-footer-header {
    line-height: 22px;
    margin-bottom: 20px;
}
#pappers-top .pappers-footer-list {
    margin-bottom: 0;
}
#pappers-top .pappers-footer-list .pappers-footer-item:not(:last-of-type) {
    position: relative;
    margin-bottom: 20px;
}
#pappers-top .pappers-footer-list .pappers-footer-item {
    height: 73px;
    position: relative;
    background-position: center right;
    background-size: cover;
    background-repeat: no-repeat;
}
#pappers-top .pappers-footer-list .pappers-footer-item:last-of-type {
    margin-bottom: 0;
}
#pappers-top .pappers-footer-list .pappers-footer-text {
    position: absolute;
    top: 0;
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
@media (max-width: 991px) {
    #pappers-top .pappers-footer-list .pappers-footer-text {
        width: 100%;
    }
}
#pappers-top .pappers-footer-text p {
    display: none;
}
#pappers-top .pappers-footer-text h1,#pappers-top .pappers-footer-text h2,#pappers-top .pappers-footer-text h3,#pappers-top .pappers-footer-text h4,#pappers-top .pappers-footer-text h5,#pappers-top .pappers-footer-text h6 {
    font-size: 22px;
    margin: 0;
    color: #fff;
    font-weight: 400;
}
@media (max-width: 991px) {
    #pappers-top .pappers-footer-text h1,#pappers-top .pappers-footer-text h2,#pappers-top .pappers-footer-text h3,#pappers-top .pappers-footer-text h4,#pappers-top .pappers-footer-text h5,#pappers-top .pappers-footer-text h6 {
        margin: 0 10px;
    }
}
#header #pappers-top .pappers-footer-btn {
    margin-top: 0;
    letter-spacing: 0.07px;
    color: #FFFFFF;
    text-transform: uppercase;
    background-color: transparent;
    font-size: 10px;
    border: 2px solid #FFFFFF;
    border-radius: 50rem;
    display: flex;
    align-items: center;
    padding: 5px 40px;
    transition: 0.3s;
}
#header #pappers-top .pappers-footer-btn svg {
    stroke:#fff;
    width: 9px;
    margin-left: 8px;
}
#header #pappers-top .pappers-footer-btn:hover {
    background-color: #000;
    border: 2px solid #000;
}
.collapsePappersTop-btn[aria-expanded="true"]+.overlay {
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    background-color: rgba(0,0,0,0.3);
}
.collapsePappersTop-btn[aria-expanded="true"] {
    color: #006CB5;
}
.collapsePappersTop-btn[aria-expanded="true"] svg {
    stroke:#006CB5 !important;
}
#collapsePappersTop .pappers-container .col-md-6 {
    padding: 0;
    width: 45%;
}
#collapsePappersTop .pappers-container {
    display: flex;
    justify-content: space-between;
}
#collapsePappersTop .top-sohonewspaper-link {
    font-size: 14px;
    color: #006CB5;
    text-decoration: underline;
    margin-top: 20px;
    display: block;
}
.pappers-footer {
    padding: 0 15px;
}