.sliderInspiracje .swiper-slide {

}

.sliderInspiracje .swiper-slide .image-box{
    position: relative;

}

.sliderInspiracje .swiper-slide .image-box a img{
    max-height: 570px;
    width: 100%;
}

@media (max-width: 767px){
    .sliderInspiracje .swiper-slide {
        width: calc(100% - 30px);
    }
}
@media (max-width:767px) {
    .sliderInspiracje .swiper-slide .image-box {
        height: calc((570 / 1000) * 100vw);
    }
}
@media (max-width:991px) {
    #inspiracje-slider .swiper-wrapper {
        padding-bottom: 30px;
    }
}

#inspiracje-slider .btn-inspire {
    font-weight: 500;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}
#inspiracje-slider .marker_content.right_marker_content {
    right: 41px;
}
#inspiracje-slider .marker_content.left_marker_content::after{
    top: 102px;
}
#inspiracje-slider .more-button  .btn-inspire {
    margin: auto;
}
#inspiracje-slider .marker_content.right_marker_content::after {
    top: 80px;
}
.sliderInspiracje .swiper-slide .title{
    font: normal normal 300 30px/36px var(--base-font-family);
    text-align: center;
    margin-top: 20px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.sliderInspiracje .swiper-slide .more-button{
    text-align: center;
    display: block;
    margin-top: 30px;
}

.sliderInspiracje .swiper-slide .more-button .btn{
    padding: 17px 50px;
    text-transform: uppercase;
}
.btn-inspire:hover svg {
    stroke: #fff;
}
#inspiracje-slider .swiper-button-prev {
    left: 2rem;
    right: auto;
    transform: rotate(180deg) translate(0px, 100%);
}
#inspiracje-slider .swiper-button-next {
    left: auto;
    right: 2rem;
    transform: translate(0px, -86%);
}
.sliderInspiracjeFind .swiper-slide {
    width: 273px;
    overflow: hidden;
}

#inspiracje-find .sliderInspiracjeFind .swiper-slide label {
    position: absolute;
    width: 100%;
    text-align: center;
    font: normal normal 300 21px/29px var(--base-font-family);
    color: #FFFFFF;
    top:50%;
    transform: translateY(-50%);
}

#inspiracje-find .sliderInspiracjeFind .swiper-slide label a {
    color: #FFFFFF;
}

#inspiracje-posts ul {
    display: flex;
    display: -webkit-flex;
    width: 100%;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

#inspiracje-posts li {
    margin-top: 60px;
}

.ybc_item_img {
    float: left;
    overflow: hidden;
    position: relative;
    background-color: #eee;
    width: 100%;
}

.ybc_item_img img {
    transition: all 0.7s ease 0s;
    -webkit-transition: all 0.7s ease 0s;
    max-width: 100%;
    width: 100%;
    max-height: 300px;
    object-fit: cover;
}

.ybc_title_block {
    font: normal normal 300 20px/36px var(--base-font-family);
    color: var(--btn-primary-font-color);
    text-transform: none;
    padding: 0;
    margin: 15px 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    float: left;
    width: 100%;
}

#inspiracje-posts a.btn {
    padding: 18px 60px;
    margin-top: 30px;
    text-transform: uppercase;
    font: normal normal 500 16px/19px var(--base-font-family);
}

h1 {
    font: normal normal bold 38px/54px var(--base-font-family);
    margin-bottom: 50px;
}

#inspiracje-find label {
    text-align: left;
    margin: 0;
    display: block;
    font: normal normal normal 18px/26px var(--base-font-family);
}

#inspiracje-tags {
    margin-top: 45px;
}

#inspiracje-tags button {
    background: #F2F8FD;
    border-radius: 13px;
    border: none;
    font: normal normal normal 12px/16px var(--base-font-family);
    margin-left: 12px;
    padding: 6px 10px;
    cursor: pointer;
    margin-bottom: 10px;
}

#inspiracje-filters {
    margin-top: 45px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#inspiracje-filters .dropdown {
    float: left;
    margin-bottom: 10px;
}

#inspiracje-filters .dropdown button {
    border: 1px solid #006CB5;
    border-radius: 40px;
    background: #fff;
    padding: 10px 20px;
    margin-left: 12px;
    outline: none;
    max-height: 35px;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    justify-content: center;
}
#inspiracje-filters .brands-sort .select-title,#inspiracje-filters .products-sort-order .select-title,#inspiracje-filters .suppliers-sort .select-title {
    box-shadow: none;
    border-radius: 20px;
    background: #F5F5F5;
    font: normal normal 600 14px/212px var(--base-font-family);
    padding: 10px 20px;
    border: 0;
    line-height: 24px;
    margin-left: 20px;
    width: auto;
}
#inspiracje-filters .blog_arrow {
    width: 11px;
    transform: rotate(0deg);
}
#inspiracje-filters > .dropdown button:hover {
    color: #ffffff;
    background-color: #000000;
    border-color: #000000;
}

#inspiracje-filters button.dropdown-toggle:after {
    display: none;
}

#inspiracje-tags label,
#inspiracje-filters label {
    text-align: left;
    float: left;
    display: block;
    font: normal normal normal 18px/26px var(--base-font-family);
}

#inspiracje-filters .sort-by-row {
    float: right;
    display: flex;
    align-items: baseline;
}
.blog_arrow {
    fill: none;
    stroke: #000;
    stroke-miterlimit: 10;
    stroke-width: 1.5px;
    position: relative;
    transform: rotate(-90deg);
    margin-left: 5px;
}
#inspiracje-posts a.btn:hover .blog_arrow {
    stroke: #fff;
}
.inspiracje-dropdown-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}
#module-sohoshop_inspiracje-inspiracje .swiper-scrollbar {
    display: none;
}
.inspiracje-find-header {
    font: normal normal normal 18px/26px Gotham;
    margin-bottom: 20px;
}
#inspiracje-find {
    margin-top: 2.5rem;
}
#module-sohoshop_inspiracje-inspiracje #store-page-describe h3 {
    font-weight: 400;
    color: #000;
}
#module-sohoshop_inspiracje-inspiracje #store-page-describe b {
    font-weight: 400;
    color: #000;
}
#module-sohoshop_inspiracje-inspiracje #store-page-describe p {
    color: #6A6A6A;
}
.header-single-newspaper-img .marker_content.left_marker_content{
    top: -82px;
}
@media (max-width: 992px) {
    #inspiracje-find {
        margin-top: 3rem;
    }
    #module-sohoshop_inspiracje-inspiracje .swiper-scrollbar {
        display: block;
        left: 0;
        width: 100%;
    }
    #inspiracje-find label {
        margin-top: 20px;
    }
    #inspiracje-find label {
        margin-top: 20px;
    }
    #inspiracje-find .sliderInspiracjeFind .swiper-slide label {
        position: static;
        transform: unset;
        font: normal normal normal 14px/16px Gotham;
        color: #000;
    }
    .inspiracje-find-header {
        margin-bottom: 30px;
        text-align: center;
    }
    #inspiracje-find .swiper-slide a img {
        height: auto;
        width: 100%;
        border-radius: 50%;
        overflow: hidden;
        display: block;
    }
    #module-sohoshop_inspiracje-inspiracje .swiper-button-next,#module-sohoshop_inspiracje-inspiracje  .swiper-button-prev {
        display: none;
    }
    #inspiracje-find .swiper-container {
        padding-bottom: 2rem;
    }
    .sliderInspiracje .swiper-slide .more-button .btn {
        display: none;
    }
    .sliderInspiracje .swiper-slide .title {
        font-size: 20px;
        line-height: 24px;
        width: 100%;
        text-align: left;
        margin-top: 8px;
        
    }
}

